{% extends "frames/web/columns.html" %}
{% block title %}{{ current_site.domain }} - Media Partner Info{% endblock %}
{% block meta %}
{% endblock %}

{% block breadcrumbs_content %}
    <a class="nodec" href="{% url media-partner-home %}">Media Partner Info</a> &nbsp;&rsaquo;&nbsp;
    <span>{{ current_site.domain }} vs. Half-Off Programs</span>
{% endblock %}

{% block base_content %}
    {% include "include/dsp/dsp_media_partner_half_off.html" %}
{% endblock %}

{% block sidebar_content %}
    {% include "include/dsp/dsp_media_partner_links.html" %}
{% endblock %}
