div.coupons-hidden {
	display: none !important;
}

/***** Containers *****/
#coupon-container,
#coupon-container-med-rect,
#coupon-container-leaderboard,
#coupon-container-full,
#coupon-container-skyscraper,
#coupon-container-half,
#coupon-container-small-square
{
	background-color: #fff !important;
	color: #222222 !important;
	display: block !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px !important;
	overflow: hidden !important;
	position: relative !important;
}

#coupon-container-med-rect {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_300x250.gif') !important;
	height: 250px !important;
	width: 300px !important;
}
#coupon-container-leaderboard {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_728x90.gif') !important;
	height: 90px !important;
	width: 728px !important;
}
#coupon-container-full {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_468x60.gif') !important;
	height: 60px !important;
	width: 468px !important;
}
#coupon-container-skyscraper {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_160x600.gif') !important;
	height: 600px !important;
	width: 160px !important;
}
#coupon-container-half {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_234x60.gif') !important;
	height: 60px !important;
	width: 234px !important;
}
#coupon-container-small-square {
	background-image: url('http://10coupons.com/media/images/widget/widgetBg_160x160.gif') !important;
	height: 160px !important;
	width: 160px !important;
}

/***** Logos *****/
a.coupon_logo, a.coupon_logo:hover {
	color: #7bb515 !important;
	display: block !important;
	font-size: 18px !important;
	text-decoration: none !important;
}

#coupon-container-med-rect a.coupon_logo {
	height: 85px !important;
	width: 200px !important;
}
#coupon-container-med-rect div.coupon_logo_name {
	left: 70px !important;
	position: absolute !important;
	top: 15px !important;
}

#coupon-container-leaderboard a.coupon_logo {
	height: 90px !important;
	width: 210px !important;
}
#coupon-container-leaderboard div.coupon_logo_name {
	left: 70px !important;
	position: absolute !important;
	top: 17px !important;
}

#coupon-container-full a.coupon_logo {
	height: 60px !important;
	width: 160px !important;
}
#coupon-container-full div.coupon_logo_name {
	font-size: 14px !important;
	left: 53px !important;
	position: absolute !important;
	top: 9px !important;
}

#coupon-container-skyscraper a.coupon_logo {
	height: 60px !important;
	width: 160px !important;
}
#coupon-container-skyscraper div.coupon_logo_name {
	font-size: 12px !important;
	left: 52px !important;
	position: absolute !important;
	top: 16px !important;
}

/***** Content *****/
div.coupon_content, div.no_coupon_content {
	color: #222222 !important;
}
div.alt_content .coupons-highlight {
	color: #c2317b !important;
	font-size: 19px !important;
	line-height: 30px !important;
}
div.alt_content .coupons-smalltext {
	font-size: 11px !important;
	font-style: italic !important;
	line-height: 17px !important;
}
a.coupons-link
{
	color: #0066ff !important;
	text-decoration: underline !important;
}
a.coupons-link a:hover
{
	color: #0066ff !important;
	text-decoration: none !important;
}
a.coupons-btn {
	background-color: #c2317b !important;
	border: solid 1px #c2317b !important;
	color: #ffffff !important;
	display: block !important;
	line-height: 25px !important;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
	text-decoration: none !important;

	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}
a.coupons-btn:hover {
	background-color: #0055e4 !important;
	border: solid 1px #0051de !important;
	color: #ffffff !important;
	text-decoration: none !important;
}

#coupon-container-small-square a.coupons-btn {
	margin: 10px 0 0 0 !important;
}

/** 300x250 **/
#coupon-container-med-rect div.coupon_content_wrapper {
	font-size: 16px !important;
	height: 140px !important;
	left: 20px !important;
	line-height: 19px !important;
	position: absolute !important;
	top: 115px !important;
	width: 270px !important;
}
#coupon-container-med-rect div.coupon_content {
	height: 140px !important;
}
#coupon-container-med-rect div.no_coupon_content {
	font-size: 16px !important;
	line-height: 19px !important;
}
#coupon-container-med-rect div.alt_content {
	font-size: 14px !important;
	height: 20px !important;
	left: 20px !important;
	line-height: 16px !important;
	position: absolute !important;
	top: 85px !important;
	width: 275px !important;
}

/** 728x90 **/
#coupon-container-leaderboard div.coupon_content_wrapper {
	font-size: 19px !important;
	height: 55px !important;
	left: 235px !important;
	line-height: 23px !important;
	position: absolute !important;
	top: 18px !important;
	width: 475px !important;
}
#coupon-container-leaderboard div.coupon_content {
	height: 55px !important;
}
#coupon-container-leaderboard div.no_coupon_content {
	font-size: 17px !important;
	line-height: 18px !important;
	text-align: center !important;
}

/** 468x60 **/
#coupon-container-full div.coupon_content_wrapper {
	font-size: 12px !important;
	height: 36px !important;
	left: 165px !important;
	line-height: 15px !important;
	position: absolute !important;
	top: 11px !important;
	width: 292px !important;
}
#coupon-container-full div.coupon_content {
	height: 36px !important;
	padding-left: 5px !important;
}
#coupon-container-full div.no_coupon_content {
	font-size: 10px !important;
	line-height: 11px !important;
	text-align: center !important;
}

/** 160x600 **/
#coupon-container-skyscraper div.coupon_content_wrapper {
	height: 150px !important;
	left: 11px !important;
	line-height: 15px !important;
	position: absolute !important;
	top: 415px !important;
	width: 138px !important;
}
#coupon-container-skyscraper div.coupon_content {
	height: 150px !important;
}
#coupon-container-skyscraper div.no_coupon_content {
	font-size: 16px !important;
	line-height: 19px !important;
}
#coupon-container-skyscraper div.alt_content {
	font-size: 14px !important;
	height: 325px !important;
	left: 12px !important;
	line-height: 16px !important;
	position: absolute !important;
	text-align: center !important;
	top: 75px !important;
	width: 136px !important;
}

/** 234x60 **/
#coupon-container-half div.coupon_content_wrapper {
	height: 35px !important;
	left: 10px !important;
	line-height: 14px !important;
	position: absolute !important;
	top: 8px !important;
	width: 216px !important;
}
#coupon-container-half div.coupon_content {
	height: 35px !important;
}
#coupon-container-half div.no_coupon_content {
	line-height: 14px !important;
}

/** 160x160 **/
#coupon-container-small-square div.coupon_content_wrapper {
	height: 150px !important;
	left: 11px !important;
	line-height: 15px !important;
	position: absolute !important;
	top: 12px !important;
	width: 138px !important;
}
#coupon-container-small-square div.coupon_content {
	height: 150px !important;
}
#coupon-container-small-square div.no_coupon_content {
	font-size: 16px !important;
	line-height: 19px !important;
}

/***** Offer Links *****/
div.coupon_content a.coupon_link {
	color: #333 !important;
	display: block !important;
	margin: 0 0 12px 0 !important;
	overflow: hidden !important;
	-o-text-overflow: ellipsis !important;
	text-decoration: none !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}
div.coupon_content span.coupon_business_name {
	color: #0066ff !important;
	display: block !important;
	overflow: hidden !important;
	-o-text-overflow: ellipsis !important;
	padding: 0 0 1px 0 !important;
	text-decoration: underline !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}
div.coupon_content span.coupon_headline {
	display: block !important;
	overflow: hidden !important;
	-o-text-overflow: ellipsis !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}
div.coupon_content a.coupon_link:hover, div.coupon_content a.coupon_link:hover .coupon_business_name {text-decoration: none !important;}

#coupon-container-med-rect a.coupon_link {
	margin-right: 25px !important;
}
#coupon-container-full a.coupon_link {
	margin-right: 100px !important;
}
#coupon-container-skyscraper a.coupon_link {
	margin-right: 0 !important;
}
#coupon-container-half a.coupon_link {
	margin-right: 40px !important;
}
#coupon-container-small-square a.coupon_link {
	margin-right: 0 !important;
}

/***** Bottom Link *****/
a.bottom_link {
	color: #7bb515 !important;
	display: block !important;
	font-size: 10px !important;
	height: 12px !important;
	position: absolute !important;
	text-decoration: none !important;
}

#coupon-container-med-rect a.bottom_link {
	bottom: 15px !important;
	font-size: 12px !important;
	height: 13px !important;
	padding: 0 0 0 20px !important;
}
#coupon-container-leaderboard a.bottom_link {
	bottom: 10px !important;
	right: 12px !important;
}
#coupon-container-full a.bottom_link {
	bottom: 6px !important;
	right: 9px !important;
}
#coupon-container-skyscraper a.bottom_link {
	bottom: 11px !important;
	font-size: 9px !important;
	left: 11px !important;
}
#coupon-container-half a.bottom_link {
	bottom: 7px !important;
	font-size: 10px !important;
	left: 10px !important;
}
#coupon-container-small-square a.bottom_link {
	bottom: 11px !important;
	font-size: 9px !important;
	left: 11px !important;
}

/***** Buttons *****/
div.couponBtnsVert {
	display: block !important;
	height: 40px !important;
	left: 245px !important;
	position: absolute !important;
	top: 80px !important;
	width: 19px !important;
}
div.couponBtnsHoriz {
	display: block !important;
	height: 19px !important;
	left: 435px !important;
	position: absolute !important;
	top: 0 !important;
	width: 40px !important;
}
#coupon-container-full div.couponBtnsHoriz {
	top: 2px !important;
	left: 250px !important;
}
#coupon-container-skyscraper div.couponBtnsHoriz {
	top: 130px !important;
	left: 0 !important;
}
#coupon-container-half div.couponBtnsHoriz {
	top: 0px !important;
	left: 175px !important;
}
#coupon-container-small-square div.couponBtnsHoriz {
	top: 90px !important;
	left: 0 !important;
}

div.couponBtnsVert div,
div.couponBtnsHoriz div
{
	background-image: url('http://10coupons.com/media/images/widget/widgetBtnsVert.gif') !important;
	display: block !important;
	height: 19px !important;
	margin: 0 !important;
	width: 19px !important;
}
div.couponBtnPrevOff {background-position: 0 0 !important;}
div.couponBtnPrev 	{background-position: 0 -19px !important;}
div.couponBtnNext 	{background-position: 0 -38px !important;}
div.couponBtnNextOff {background-position: 0 -57px !important;}

div.couponBtnsHoriz div
{
	background-image: url('http://10coupons.com/media/images/widget/widgetBtnsHoriz.gif') !important;
	float: left !important;
}
div.couponBtnsHoriz div.couponBtnPrevOff 	{background-position: 0 0 !important;}
div.couponBtnsHoriz div.couponBtnPrev 	{background-position: -19px 0 !important;}
div.couponBtnsHoriz div.couponBtnNext 	{background-position: -38px 0 !important;}
div.couponBtnsHoriz div.couponBtnNextOff 	{background-position: -57px 0 !important;}

div.couponBtnsVert div.couponBtnPrev,
div.couponBtnsVert div.couponBtnPrevOff {margin: 0 0 2px 0 !important;}

div.couponBtnsHoriz div.couponBtnPrev,
div.couponBtnsHoriz div.couponBtnPrevOff {margin: 0 2px 0 0 !important;}

div.couponBtnPrev:hover {
	background-position: -19px -19px !important;
	cursor: pointer !important;
}
div.couponBtnsHoriz div.couponBtnPrev:hover {background-position: -19px 19px !important;}
div.couponBtnNext:hover {
	background-position: -19px -38px !important;
	cursor: pointer !important;
}
div.couponBtnsHoriz div.couponBtnNext:hover {background-position: -38px 19px !important;}
