{% extends "frames/email/full.html" %}
{% block email_content %}
<p>Just a reminder…<br>
Company Overview Conference Call for 10LocalCoupons.com <br>
Tomorrow (and EVERY Tuesday) at 9pm Eastern Time. </p>

<p>The call-in info is below. </p>

<p>Please attend: </p>

<p>If you're interested in the opportunity, <br>
Learn more about becoming an Advertising Representative. </p>

<p>If you are already an Advertising Representative, <br> 
Brush up on the most recent 10LocalCoupons.com information. </p>

<p>You are welcome to invite guests.</p>

<p>Please dial in!! </p>

<p>Conference Dial-in Number: <strong>(218) 339-4600</strong> <br>
Participant Access Code: <strong>509938#</strong> </p>

You'll be joined by <br>
<strong>Eric Straus: Founder and CEO and <br>
David Sage, Chief Marketing Officer </strong>

<p>We hope to talk to you Tuesday night! </p>

<p>Thanks, </p>

<p>Your 10LocalCoupons.com Customer Service Team!</p>
{% endblock %}