<h3>Add {{ current_site.name }} coupons to your website!</h3>

<p class="small">Earn more money! Promote {{ current_site.domain }} on your website and show valuable recent coupons to your visitors. Simply choose a size and shape, select and copy the code, and insert it where you want the banner to appear on your page.</p>

<!-- ******** 300x250 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode300x250').select();"/>
    <h4>300x250 Medium Rectangle</h4>

<textarea id="widgetcode300x250" class="small" rows="5">
<!-- start {{ current_site.domain }} 300x250 widget -->
<div id="coupon-container-med-rect"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget300x250.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 300x250 widget -->
    <div id="coupon-container-med-rect"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget300x250.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>

<!-- ******** 728x90 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode728x90').select();"/>
    <h4>728x90 Leaderboard</h4>

<textarea id="widgetcode728x90" class="small" rows="5">
<!-- start {{ current_site.domain }} 728x90 widget -->
<div id="coupon-container-leaderboard"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget728x90.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 728x90 widget -->
    <div id="coupon-container-leaderboard"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget728x90.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>

<!-- ******** 468x60 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode468x60').select();"/>
    <h4>468x60 Full Banner</h4>

<textarea id="widgetcode468x60" class="small" rows="5">
<!-- start {{ current_site.domain }} 468x60 widget -->
<div id="coupon-container-full"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget468x60.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 468x60 widget -->
    <div id="coupon-container-full"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget468x60.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>

<!-- ******** 160x600 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode160x600').select();"/>
    <h4>160x600 Skyscraper</h4>

<textarea id="widgetcode160x600" class="small" rows="5">
<!-- start {{ current_site.domain }} 160x600 widget -->
<div id="coupon-container-skyscraper"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget160x600.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 160x600 widget -->
    <div id="coupon-container-skyscraper"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget160x600.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>

<!-- ******** 234x60 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode234x60').select();"/>
    <h4>234x60 Half Banner</h4>

<textarea id="widgetcode234x60" class="small" rows="5">
<!-- start {{ current_site.domain }} 234x60 widget -->
<div id="coupon-container-half"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget234x60.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 234x60 widget -->
    <div id="coupon-container-half"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget234x60.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>

<!-- ******** 160x160 ******** -->

<div class="box2"><div class="padding">

    <input class="right" type="button" value="Select Code" onClick="getElementById('widgetcode160x160').select();"/>
    <h4>160x160 Square Banner</h4>

<textarea id="widgetcode160x160" class="small" rows="5">
<!-- start {{ current_site.domain }} 160x160 widget -->
<div id="coupon-container-small-square"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
<script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget160x160.js" type="text/javascript"></script>
<!-- end {{ current_site.domain }} widget -->
</textarea>
<p class="tiny"><em>Copy the code above and insert it where you want the banner to appear on your page</em></p>

    <!-- start {{ current_site.domain }} 160x160 widget -->
    <div id="coupon-container-small-square"><a href="{{ http_protocol_host }}{% url all-coupons %}">{{ current_site.name }} Coupons</a></div>
    <script src="{{ safe_static_url }}coupon-widgets/markets/{{ current_site.directory_name }}/10CouponsWidget160x160.js" type="text/javascript"></script>
    <!-- end {{ current_site.domain }} widget -->

</div></div>
