<p>Here is some <a href="{{ base_url }}{% url quick-start payload %}">important information</a>
to help ensure your success!</p>
<ol>
<li>Also, our <a href="{{ base_url }}{% url quick-start payload %}">Quick Start page</a> is ready
for you to use. You'll find links to:<br/><br/>
<ul>
<li>The most recent version of our <strong>Success Guide</strong>. Print it from your PC.</li>
<li>A Slide Show for <strong>Sales Presentations</strong> to prospective advertisers.</li>
<li>The 10LocalCoupons.com <strong>Compensation Plan</strong>.</li>
<li>A free <strong>business card</strong> tool and instructions to purchase business cards from Zazzle.com</li>
</ul><br/></li>

<li>We have three <strong>training calls</strong> each week. Please join us!<br/>
<strong>Tuesday Night</strong> 9pm ET: A company overview for prospective Ad reps<br/>
<strong>Thursday</strong> at 1pm ET: The "nuts and bolts" of the website, your
<strong>Virtual Office</strong> and a <strong>Q&A</strong> session.<br>
<strong>Saturday</strong> at Noon ET: Sales Techniques.<br/>
Conference Dial-in Number: <strong>(218) 339-4600</strong> Access Code:
<strong>509938#</strong><br/><br/></li>

<li>One of the best ways to <strong>close a sale</strong> is to demonstrate how
easy it is to <a href="http://demo.10coupons.com/demo/">Create a Coupon</a>. Get
your advertising prospects to try our <a href="http://demo.10coupons.com/demo/">Demo website</a>.
It's a fully functional copy of {{ ad_rep.site.domain }}. Show your clients that
they can <strong>publish a coupon</strong> in <strong>5 minutes</strong>. This is
just a "test drive." It's place where they can play. Show them "ease of use" 
that's built into our live website.<br/><br/></li>

<li>Checkout <a href="http://10coupons.com/west-michigan/coupons/">10WestMichiganCoupon.com</a>
to see a very successful <strong>local website</strong> with lots of great
<strong>coupon content</strong>.<br/><br/></li>

<li>Please <strong>give us a call</strong> at your convenience with any questions
you may have!<br/><br/></li>
</ol>
