{% load gargoyle_tags %}

<h2 class="benefits_print_header">Benefits for the Local Business Advertiser</h2>

<p class="highlight"><strong>Why 10LocalCoupons.com?</strong></p>

<table class="benefits_print_table" cellpadding="5" cellspacing="0" border="0" width="100%">
    <tr>
        <td align="left" valign="top" width="48%">

            <h5 class="benefits_print_subheader"><strong>1. IT WORKS!</strong></h5>
            Customers will see your offer and respond!
            You profit!

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>2. FAST and EASY!</strong></h5>
            Reach new customers quickly.
            Build your coupon in LESS than 5 minutes!
            Your business is live instantly!

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>3. TARGETED!</strong></h5>
            Your prospects register on 10LocalCoupons.com to see YOUR offer!
            Digital Coupons attract a new generation of educated consumers, not just traditional coupon clippers.

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>4. FLEXIBLE!</strong></h5>
            You can make UNLIMITED CHANGES any time you like, 24/7, for FREE!
            You can find the most profitable offer for your business.

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>5. BEST VALUE!</strong></h5>
            Just $499 for an entire YEAR of advertising!
            Publish as many as 10 unique coupons at any time, for less than the cost to be included in just one traditional direct mail envelope.

        </td>
        <td width="4%"></td>
        <td align="left" valign="top" width="48%">

            <h5 class="benefits_print_subheader"><strong>6. EFFECTIVE!</strong></h5>
            Digital Coupon redemption rates are significantly greater and have been proven to be more effective than direct mail in attracting new customers.
            Advertising consistently throughout the year helps increase consumer's recall of your business!

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>7. LASTING RESULTS!</strong></h5>
            Consistent advertising significantly increases consumer's recall of your business.

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>8. CONVENIENT!</strong></h5>
            Access your account 24/7 to see your coupon's views and prints.

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>9. VISIBLE!</strong></h5>
            Adding your business on the 10LocalCoupon.com website increases visibility for your business with search engines like Google and Yahoo, and with social media sites like Facebook and Twitter, drawing more customers to your website and business.

            <br/><br>

            <h5 class="benefits_print_subheader"><strong>10. PROFITABLE!</strong></h5>
            Your success is our mission!
            Put 10LocalCoupons.com to work today.

        </td>
    </tr>
</table>

<br/>

<p class="tiny nomargin">
    <em>
        Google, Yahoo, Facebook, Twitter, Groupon, Valpak and other companies mentioned on this website in no way endorse or are related to 10Local Coupons.com. The contents of and statements on this website are solely those of 10LocalCoupons.com and should not be interpreted to be those of any other company.
    </em>
</p>
