<h2>Growing digital revenues for traditional media</h2>

<p>BIA/Kelsey reported <strong class="highlight">$130 Billion</strong> in local ad spending in 2008.</p>

<p>Radio got 11%. TV got 12%.</p>

<h4 class="highlight">Direct Mail got 29%. That's a $37 BILLION Business!</h4>

<p class="small">As Direct Mail moves from print to online and mobile... we believe that those Direct Mail dollars should move to <strong>your</strong> bottom line! We have the solution to make that happen!</p>

<p class="small">10LocalCoupons.com (which will be branded specifically for your market i.e. 10DesMoinesCoupons.com, 10BuffaloCoupons.com etc. etc) seeks to join forces with media partners in each market to create the <strong>dominant</strong> Local Direct Mail brand.</p>

<p class="small">Together we will benefit from the massive migration of money from print to online and mobile.</p>

<h4 class="highlight">Media Partner Benefits:</h4>

<p>
	<ul class="small">
		<li>It's turnkey. You run spots. Period. Your sales team doesn't have time for this.</li> 
		<li>Broadcast creative is professional, localized, customized by market.</li>
		<li>Straus Digital Media manages all of the backend, sales, fulfillment, payment, &amp; technology</li>
		<li>High ROI and High ROE (return on effort) for your stations.</li>
		<li>Straus Digital Media has a proven leadership team, great track record and strong funding.</li> 
		<li>Just run the spots &amp; cash the checks!</li>
	</ul>
</p>

<p class="small">Direct Mail Dollars <strong>ARE</strong> moving from print to online and mobile. Let's go turn those dollars into a new, growing, profitable revenue stream for your stations! Let's talk:</p>

<br/>
{% include "include/dsp/dsp_management_team_info.html" %}

