<h2>{{ current_site.domain }} Privacy Policy</h2>

<p class="small"><em>This policy was last modified: <span class="highlight">12/21/2011</span></em></p>

<p>This Privacy Policy discloses the privacy practices of {{ current_site.domain }}.<br/> 
Straus Digital Media, LLC, a Delaware Limited Liability Company and owner of the 10LocalCoupons.com network of websites, (referred to in this Privacy Policy as "we," "us," "the Website," "Company" or "{{ current_site.domain }}") is committed to protecting your privacy online. We use all reasonable efforts and strategies to protect the information supplied to us by our Users.  We guard our Users' privacy with industry accepted security measures. Our goal is to prevent the unauthorized access, disclosure, misuse or loss of user information.</p>

<p><strong>PLEASE READ THIS PRIVACY POLICY CAREFULLY.  BY ACCESSING OR USING OUR WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY ALL OF THE TERMS OF THIS PRIVACY POLICY.  IF YOU DO NOT AGREE TO THESE TERMS, YOU SHOULD REFRAIN FROM USING THIS WEBSITE.</strong></p>

<p><strong>1. Terms of Use</strong><br/>
The Privacy Policy for {{ current_site.domain }} is referenced in the <a href="{% url terms-of-use %}">Terms of Use</a> for this Website. Acceptance of the Privacy Policy is indicated when you accept the Terms of Use.</p>

<p><strong>2. Modifications</strong><br/>
We reserve the right at all times to modify any portion of this Privacy Policy as we deem necessary or desirable. Any changes will be effective upon our posting them to the Website. We suggest you therefore re-read this Privacy Policy from time to time in order that you stay informed as to any such changes. Any use of the Website by User after such posting shall be deemed to constitute acceptance by User of such modifications.</p>

<p><strong>3. Information Collected</strong><br/>
We collect two types of information about our Website Users. We collect Personally Identifiable Information and Non-Personally Identifiable Information.</p>

<p><strong>Personally Identifiable Information</strong> is information that identifies a User. Personally Identifiable Information includes, but is not limited to first and last name, mailing address, email address and telephone number.</p>

<p><strong>Non-Personally Identifiable Information</strong> is information that does not identify a User. This type of information may include things like the Uniform Resource Locator ("URL") of the website you visited before coming to our Website or the URL of the website you visit after leaving our Website, the type of browser you are using and your Internet Protocol ("IP") address.</p> 

<p><strong>4. User Accounts</strong></p>

<p><strong>Advertiser and Media Partner Accounts</strong><br/>
Advertisers offer coupons on the Website. Media Partners (operators) form a promotional partnership with the Website. Our Advertiser and Media Partners supply us with contact and billing information. This includes but is not limited to: names, business addresses, credit card information and email addresses. This data is used to deliver the services to these clients and partners. We also use this information to receive payment for our services and to share revenue with our business partners. We store billing and payment information as encrypted data.</p>

<p><strong>Consumer Accounts</strong><br/> 
Consumers are users who request and receive local coupons and information. Consumer Accounts on {{ current_site.domain }} may contain: an email address, a zip code, a mobile phone number and the identification of a mobile carrier for receiving "text coupons," and a user (screen) name and password combination for the purpose of posting content onto the website.</p> 

<p>Users are responsible for maintaining their passwords. We recommend you not share your password with anyone.</p>

<p>{{ current_site.domain }} does not solicit or collect any additional information from Consumers{% if contest_is_running %}, except that in connection with the $10,000 Sweepstakes, a winner will be required to fill out and sign an affidavit of eligibility, a publicity/liability release which will require, among other things, permission to use their name and likeness for publicity purposes, and a Federal Form W-9 within 10 days of notification or the prize may be forfeited and an alternate winner selected{% endif %}.</p>

<p><strong>5.  Email Opt Out Procedures </strong><br/><br/>
<strong>Website</strong><br/>
The website recognizes visits from registered users. From the <a href='{% url unsubscribe %}'>unsubscribe page</a> a registered user may opt
out of all promotional email messages with a single action. If a visitor is not recognized as a registered user, the "unsubscribe" page 
displays instructions to use a link provided in email messages to unsubscribe. (Advertisers who unsubscribe, continue to receive messages 
related to account status.)</p>

<p><strong>Promotional Email Messages</strong><br/>
Promotional messages each contain a universal one-click "unsubscribe" link in both HTML and Plain Text versions.</p>

<p><strong>Requested Information</strong><br/>
Messages sent only to users who have requested information about opportunities available for Independent Advertising Representatives 
contain a specific "unsubscribe" link that will unsubscribe the user from those specific messages.</p>

<p><strong>6. Double Opt-In Strategy</strong><br/>
{{ current_site.domain }} employs a Double Opt-in Strategy for collection of Consumer Mobile Phone information.</p> 

<p>Any Consumer supplying a mobile phone number and carrier combination will receive, via SMS a "request for confirmation" text message requiring the user to actively confirm their intentions to subscribe to text messages.</p>

<p><strong>7. Sharing of Personally Identifiable Information</strong><br/>
{{ current_site.domain }} is the owner of the information collected on this site. We will not share this information in any manner other than as disclosed in this Privacy Policy.</p>

<p><strong>Authorized Third Party Marketers.</strong> Users consent to receive email offers from third parties. Email addresses of these Users are shared with authorized Media Partners and third party marketing companies.</p> 

<p><strong>Authorized Third Party Service Providers.</strong> Third party service providers perform services on our behalf.  For example, when an Advertiser purchases a coupon, we release credit card information to the card-issuing bank to confirm payment for the coupon.</p>

<p><strong>Business Transfer.</strong> We may release Personally Identifiable Information in the event of a sale or merger of the {{ current_site.domain }} business with another company.</p>

<p><strong>Compliance With Laws.</strong> We may disclose Personally Identifiable Information in order to comply with the law or a court order, to enforce this Privacy Policy or our Terms of Use, or other User agreements or to protect the rights, property or safety of the Website, its Users or others.</p>

<p><strong>8. Sharing of Non-Personally Identifiable Information</strong></p>

<p><strong>Aggregated Data</strong><br/>
{{ current_site.domain }} may collect and use behavioral data related to Consumer Accounts. For example, if user #1 indicates that they used a Coupon for a discount on Ice Cream, that indication will be recorded. Further, if user #1 used the website to forward the Ice Cream Coupon to their mobile phone, that activity would also be recorded. Data pertaining to any individual user will always be combined or aggregated with data related to other users.</p>

<p><strong>Presentation of Aggregated Data</strong><br/>
Information about Consumers is presented to Advertisers only as aggregated data. For example, "1,000 Consumers used Coupons for Ice Cream," or "500 Consumers sent Coupons for Ice Cream as Text Messages to their Mobile Phones last week."  

<p><strong>9. Cookies</strong><br/>
A cookie is personalized data on a User's computer that we use to keep track of that User's information. For example, when the User signs in, a cookie lets us remember who the User is. We set a cookie so that some Users can access their account without logging in every time.</p>

<p><strong>10. IP Addresses</strong><br/>
We capture and temporarily use IP addresses of some incoming requests and submissions to the Website. We utilize this information to protect our data and our Website from malicious intent. IP addresses are not permanently stored in our database.</p>

<p><strong>11. Analysis</strong><br/>
We use methods and software, both publicly available and proprietary, to analyze User paths and trends.</p>

<p><strong>12. Links and Ads, Third Party Emails</strong><br/>
This website contains links to other sites. Users may also consent to receive emails directly from other sites. Please be aware that {{ current_site.domain }} is not responsible for the privacy practices of other sites. We encourage our Users to be aware when they leave our site and to read the privacy statements and policies of the websites they visit.</p>

<p><strong>13. Content</strong><br/>
The content of {{ current_site.domain }} is not directed to persons under the age of Eighteen. {{ current_site.domain }} only collects personally identifiable information in order to establish and sustain business relationships. {{ current_site.domain }} does not otherwise collect personally identifiable information. {{ current_site.domain }} will not purposely or knowingly collect or maintain personally identifiable information from or about anyone under Eighteen.</p>

<p><strong>14. Contacting {{ current_site.domain }}</strong><br/>
If you have any questions about this Privacy Policy or the practices of Straus Digital Media, LLC contact:<br/>
Straus Digital Media, LLC<br/>
427 Bedford Road Suite #330<br/>
Pleasantville, NY 10570<br/>
PHONE: 800 581 3380<br/>
EMAIL: Support@10LocalCoupons.com<br/>
<br/>

<p class="small"><em>This policy was last modified: <span class="highlight">12/21/2011</span></em></p>
