<ul class="nomargin">

    <li>

        <strong class="highlight">Start here! </strong> <a class="nodec" href="{{ safe_static_url }}docs/10LC_Success_Guide_SG013112.pdf">Read our Success Guide &raquo;</a>

    </li>
    <li>

        <a class="nodec modaltrigger" href="#" name="modal_business_cards">Print personalized business cards &raquo;</a>

        <div id="modal_business_cards" class="hidden">

            <br/><h2 align="center">Personalized Business Cards</h2>

            <table align="center" border="0" cellpadding="30" cellspacing"0">
                <tr>
                    <td align="center" valign="top">

                        <h4><strong>Print customized business cards</strong></h4>

                        <p>
                            <em>
                                Use your own high quality printer or download a file to bring to your print shop
                            </em>
                        </p>

                        <a class="button largeBtn" href="{{ base_url }}{% url ad-rep-business-cards %}">Print cards now &raquo;</a>

                    </td>
                    <td width="1" bgcolor="#333" style="padding: 0;"></td>
                    <td align="center" valign="top">

                        <h4><strong>Buy business cards online:</strong></h4>

                        <p>
                            <em>
                                We've supplied Zazzle.com with our layout. Click "Customize It!" to add your information.
                            </em>
                        </p>

                        <a class="button largeBtn" href="http://zazzle.com/10localcoupons" target="_blank">Go to Zazzle.com &raquo;</a>

                    </td>
                </tr>
            </table>

        </div>

    </li>
    <li style="padding-bottom: 0;">

        <a class="nodec modaltrigger" href="#" name="modal_conference">Company Overview Conference Call &raquo;</a>

        <div id="modal_conference" class="hidden">

            <br/><h3 align="center">Conference Call Audio</h3>

            <p align="center">Invite potential members of your team to one of our Company Overview Calls!</p>

            <table align="center" border="0" cellpadding="30" cellspacing"0">
                <tr>
                    <td align="center" valign="top">

                        <h3>LIVE Conference Call:</h3>

                        <p>
                            <em>
                                Tuesdays 9pm Eastern Time
                            </em>
                        </p>

                        <h3><strong class="highlight">218-339-4600</strong></h3>

                        <h4>PIN: 509938#</h4>

                    </td>
                    <td width="1" bgcolor="#333" style="padding: 0;"></td>
                    <td align="center" valign="top">

                        <h3>Recently Recorded:</h3>

                        <p>
                            <em>
                                Anytime 24/7
                            </em>
                        </p>

                        <h3><strong class="highlight">218-339-4699</strong></h3>

                        <h4>PIN: 509938#</h4>

                        <p>Reference Number: 20</p>

                    </td>
                </tr>
            </table>

        </div>

    </li>

</ul>