<h2>Your Opportunity as an Independent Advertising Representative</h2>

<p class="highlight">
    <strong>
        Your timing could not be better.
        Three major things are happening in our world:
    </strong>
</p>

<ul>

    <li>
        Businesses have been <strong>hit hard by the economy</strong> and are searching for ways to cost effectively get more customers and increase profits.
    </li>

    <li>
        Consumers have also been challenged and are desperately <strong>seeking ways to save</strong>.
        The use of coupons, especially online and mobile coupons, is growing exponentially and has crossed all economic barriers.
    </li>

    <li>
        A massive number of talented individuals are seeking to <strong>supplement their income</strong> on a full time or part time basis.
    </li>

</ul>

<p>
    <em>10LocalCoupons.com provides an extraordinary solution to all three situations.</em>
</p>

<p class="highlight">
    <strong>
        What is your opportunity as a 10LocalCoupons.com Advertising Representative?
    </strong>
</p>

<p>In a nutshell, you will be building your own business where you can:</p>

<ol>

    <li>
        <strong>Sell coupon advertising</strong> to local merchants.
    </li>

    <li>
        <strong>Enroll consumers</strong> to receive our free money saving coupons each week in their email inboxes.
    </li>

    <li>
        <strong>Recruit other Advertising Representatives</strong> and earn bonuses and overrides on all their sales.
    </li>

    <li>
        <strong>Apply to become a Market Manager</strong> where you can manage and earn overrides on all Ad Rep Coupon Posting sales made in your area.
    </li>

</ol>

<p><em>So what is your opportunity?</em></p>

<ul>

    <li>
        <p class="smallmargin">You have the opportunity to earn income by <strong>helping businesses attract more customers</strong>.</p>

        <strong>What exactly will you be doing?</strong>
        Your job is to contact local business owners, where and when you want, either by phone or in person, and present them with the opportunity to advertise with 10LocalCoupons.com.
        Even if you have no experience in sales, our detailed Success Guide tells you exactly what to say.
        It's as simple as that.
        We show you how to find prospects who want our services and even have potential Advertiser leads that we distribute based on your area.
        We also have CD, conference call and online training to make you as effective as you want to be.
    </li>

    <li>
        <p class="smallmargin">You have the opportunity to earn income by <strong>helping consumers save money</strong> by receiving FREE weekly coupons via email.</p>

        <strong>How do you do this?</strong>
        Our Success Guide tells you exactly how to find consumers and enroll them to receive our free money saving coupons delivered to their email inboxes each week.
    </li>

    <li>
        You can <strong>be your own boss</strong> and work when you want and where you want.
        You can work part-time or full-time.
        You choose your own hours.
    </li>

    <li>
        It is the perfect opportunity for an executive ready to do something enjoyable or for the stay-at-home mom who needs to bring in <strong>extra money</strong> each month.
    </li>

    <li>
        How much you earn is entirely up to you.
        Whether you want to earn a few extra dollars or whether you want to build a nationwide team of Advertising Representatives and earn significant money, 10LocalCoupons.com provides the opportunity for you to accomplish your goals.
    </li>

    <li>
        10LocalCoupons.com gives you an opportunity to grow your business as big as your dreams.
        No one will ever limit your income.
        What you earn is totally up to you.
    </li>

    <li>
        <strong>While you have all the support</strong> of 10LocalCoupons.com corporate team, you are building your <strong>own valuable business that can be sold</strong> when you retire or even passed down to your children.
    </li>

    <li>
        <strong>Check with your accountant or CPA</strong> to find out the many financial benefits of owning your own business.
        There is a reason that most of the wealthy families in America created their wealth by <strong>owning their own businesses</strong>.
    </li>

</ul>

<p>
    As an Advertising Representative with 10LocalCoupons.com your business is <strong>backed by a rock solid company</strong> with a massive track record of success.
    We are 100% dedicated to helping you build a profitable business and create long term financial freedom for yourself and your family.
    <strong>This is your time to win!</strong>
</p>

<p align="center">
    <a class="button largeBtn" href="{% url become-an-ad-rep %}">Get Started Today!</a>
</p>

<br/>
