<div class="boxBorder fb_like_header">

    <h4>Like us on Facebook!</h4>

    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=220054864689032&amp;xfbml=1"></script><fb:like href="https://www.facebook.com/10LocalCoupons" send="false" width="330" show_faces="false"></fb:like>

    <div class="clear"></div>
</div>

<div class="fb_like_content">

    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:fan profile_id="153829327995416" height="165" width="370" show_faces="true" connections="12" stream="false" header="false" css="http://10static.com/media/css/fbstyle052511.css?1"></fb:fan>

    <div class="clear"></div>
</div>