<table>
    <tr>
        <td>
            <h5>Eric Straus</h5>
            <p class="small">
                <em>CEO / East Coast</em><br/>
                914-920-3075 x301<br/>
                <a href="mailto:Eric@10Coupons.com?subject={{ current_site.domain }}">Eric@10Coupons.com</a>
            </p>            
        </td>
        <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
        <td>
            <h5>Tom Sly</h5>
            <p class="small">
                <em>CRO / West Coast</em><br/>
                914-920-3075 x304<br/>
                <a href="mailto:Tom@10Coupons.com?subject={{ current_site.domain }}">Tom@10Coupons.com</a>
            </p>            
        </td>
    </tr>
</table>