<h3>Terms of Agreement</h3>

<p class="smallmargin"><em>REPRESENTATIVE AGREEMENT</em></p>

<p><em>January 19, 2012</em></p>

<p>
    The undersigned Representative and Straus Digital Media, LLC d/b/a 10LocalCoupons.com (the "<b>Company</b>") hereby
    agree to the following terms and conditions:
</p>

<ol>
    <li>
        <u>Legal Age</u>. 
        Representative is of legal age to enter into this Application and Agreement (the "<b><u>Agreement</u></b>") in
        the state in which Representative resides.
        <br/><br/>
    </li>

    <li>
        <u>Acceptance</u>.  
        This Agreement shall be effective upon acceptance by the Company at its place of business in Pleasantville, New York.
        The Company reserves the right, in its sole discretion, to decline any Agreement or any renewal thereof.
        <br/><br/>
    </li>

    <li>
        <u>Term</u>.  
        Subject to the provisions of <u>Section 18</u>, this Agreement shall 
        have a term beginning on the date of acceptance by the Company and ending 
        on one (1) year from the date thereof (the "<b><u>Anniversary</u></b> <b><u>
        Date</u></b>") and shall be automatically renewed on an annual 
        basis on each Anniversary Date unless written notice of nonrenewal is 
        sent by a party to the other party.
        <br/><br/>
    </li>

    <li>
        <u>Independent Contractor Status</u>.
        Representative is an independent contractor and not 
        an employee, agent, joint venturer, partner or owner of the Company.  
        Representative shall not be treated as an employee, agent, franchisee, 
        joint venturer, partner or owner of the Company for federal or state 
        tax purposes including with regard to the Internal Revenue Code, Social 
        Security Act, Federal Unemployment Act, Federal Insurance Contributions 
        Act (FICA), or with regard to workers' compensation, any state unemployment 
        act, or any other federal, state or local statute, ordinance, rule or 
        regulation.  Representative is responsible for all liability, health, 
        disability, workers' compensation and other insurance.  Representative 
        is not authorized to bind the Company nor incur any obligation on behalf 
        of the Company.
        <br/><br/>
    </li>

    <li>
        <u>Responsibility for Taxes</u>.
        Representative solely is responsible for the payment 
        of all applicable federal, state and local income, unemployment, social 
        security and other taxes and premiums and license requirements and fees 
        attributable to Representative&#39;s sales activities and earnings.
        <br/><br/>
    </li>

    <li>
        <u>Sales and Use Taxes</u>.
        To ensure compliance with the sales and use tax requirements 
        of each state, unless otherwise mandated by state law, the Company shall 
        collect and remit all applicable sales and use taxes on products and 
        materials based upon the suggested retail price of the product.
        <br/><br/>
    </li>

    <li>
        <u>Compensation</u>.  
        Any compensation Representative receives from the Company is related 
        solely to the sale of products and services.  There is no compensation 
        for recruiting.  Representative is not guaranteed any income, profits 
        or success and certifies that no such representations have been made 
        to Representative either by the Company or any Representative.
        <br/><br/>
    </li>

    <li>
        <u>No Other Purchase</u>.  
        In order to become a Representative and begin the business, Representative 
        is not required to make any purchase.
        <br/><br/>
    </li>

    <li>
        <u>Representations</u>.  
        Representative shall make no statements, representations or disclosures 
        in promoting the Company, in sponsoring or training Representatives 
        or in selling the Company&#39;s products and services, other than what is 
        expressly permitted by the Policies and Procedures and in other literature 
        produced by the Company.  Representative shall make no claims or 
        representations of actual or potential earnings, guaranteed or anticipated 
        profits or sales success.
        <br/><br/>
    </li>

    <li>
        <u>Refunds</u>.  
        Representative agrees to abide by the Company&#39;s retail customer refund 
        policy, as set forth in the Policies and Procedures. Commissions paid on refunded commissionable products 
        must be repaid to the Company by the Representative earning the commissions.
        <br/><br/>
    </li>

    <li>
        <u>Proprietary Rights/Use of Company Materials</u>.
        Representative acknowledges 
        that the Company&#39;s trademarks, service marks, tradenames, patents and 
        copyrighted materials are owned solely by the Company, and that use 
        of such marks and materials by Representative must be in compliance 
        with the Company&#39;s written policies, as such may be amended by the Company 
        from time-to-time.  Representative agrees to use only written, 
        recorded or other promotional or advertising materials which have been 
        produced by the Company and/or approved in writing by the Company prior 
        to use and bear its approval designation.  Representative further 
        agrees that the Company has the exclusive proprietary interest in its 
        customer lists, Representative lists, source codes, product development 
        and in all operating, financial and marketing materials; and that all 
        such information is confidential.  Representative shall not use 
        or disclose such information to any third party except in strict accordance 
        with this Agreement and the Policies and Procedures.  Confidential 
        information is disclosed to Representative on a "need to know" basis 
        solely for use in Representative&#39;s business with the Company.  
        Representative agrees to use his or her best efforts to keep such information 
        confidential and shall not use such information to sell products or 
        services other than the Company&#39;s products and services or in connection 
        with any other business during the term of and after termination of 
        this Agreement.  Upon termination or non-renewal of this Agreement, 
        Representative immediately shall cease all use of the Company&#39;s trademarks, 
        service marks and proprietary and confidential information and, if requested 
        by the Company, return all such materials in Representative&#39;s possession 
        to the Company.
        <br/><br/>
    </li>
    
    <li>
        <u>Non-Solicitation/Sale of Other Products</u>.
        As an inducement for the Company to enter 
        into this Agreement and in consideration of the mutual covenants contained 
        herein, Representative agrees that during the term of this Agreement 
        and for a period of one year thereafter, Representative shall not, directly 
        or indirectly, on his or her own behalf or on the behalf of any other 
        person or entity, solicit, induce or hire or attempt to solicit, induce 
        or hire any Representative (except those personally recruited), employee, member, customer, supplier or 
        vendor of the Company (a) to enter into any business relationship with 
        any other direct sales or network marketing company or individual or 
        (b) to terminate or alter his or her business or contractual relationship 
        with the Company.  Representative agrees that no products or services 
        except for the Company&#39;s products or services shall be sold or shown 
        at any event where the Company&#39;s products or services are sold or shown 
        without the Company's prior written consent.  Representative 
        is prohibited from selling or promoting any competing products or services 
        or marketing programs to any of the Company&#39;s Representatives in any 
        state in which the Company has Representatives.
        <br/><br/>
    </li>

    <li>
        <u>Retail Sales</u>.  
        All commissions, overrides and bonuses are paid solely on retail sales as set forth in the Compensation Plan.
        No personal purchases of any kind are required to receive commissions and bonuses.
        <br/><br/>
    </li>

    <li>
        <u>Training</u>.
        In the event Representative recruits or acts as Market Manager for other Representatives, Representative 
        agrees to perform a bonafide supervisory, distributive and selling function 
        in connection with the sale of the Company&#39;s products and services to 
        the ultimate consumer.
        <br/><br/>
    </li>
   
    <li>
        <u>Exclusive Territory</u>.  
        No exclusive territory is granted by this Agreement, nor does this Agreement 
        constitute the sale of a security or a franchise.
        <br/><br/>
    </li>

    <li>
        <u>Compliance</u>.  
        Representative shall abide by all applicable federal, state and local 
        laws or regulations, and the terms of this Agreement, the Policies and 
        Procedures and the Compensation Plan.
        <br/><br/>
    </li>

    <li>
        <u>Assignability</u>.  
        This Agreement may not be transferred or assigned by Representative 
        without the prior written approval of the Company, in its sole discretion, 
        and then only in accordance with the Policies and Procedures.  
        The Company may assign this Agreement at any time.
        <br/><br/>
    </li>

    <li>
        <u>Termination</u>.  
        REPRESENTATIVE ACKNOWLEDGES THAT HE OR SHE IS FREE TO TERMINATE THIS 
        AGREEMENT AT ANY TIME FOR ANY REASON. Either party may terminate 
        this Agreement upon written notice.  Where state laws on termination 
        are inconsistent with this provision, then the applicable state law 
        shall apply.  Immediately upon termination or nonrenewal of this 
        Agreement, Representative shall (a) cease from representing himself 
        or herself as a Representative of the Company; (b) lose all rights his or her participation and position in 
        the Compensation Plan, including all future commissions and earnings 
        resulting therefrom shall immediately terminate; and (c) take all other 
        actions reasonably required by the Company, including the discontinuance of use 
        of the Company&#39;s trademarks and service marks.
        <br/><br/>
    </li>

    <li>
        <u>Amendment</u>.
        The Company may amend this Agreement, the Policies and Procedures, prices 
        for product, company literature and/or the Compensation Plan, at any 
        time, effective five (5) days after publication or transmittal of such 
        amendment in official Company publications, literature or voice mail, 
        as applicable.  In the event of any conflict between the terms 
        of this Agreement, the Policies and Procedures or any other document 
        and such amendment, the amendment shall control.
        <br/><br/>
    </li>

    <li>
        <u>Venue/Governing Law</u>.
        This Agreement is performable in Pleasantville, New York 
        and governed by the laws of the State of New York without reference 
        to its conflict of laws rules.  Any legal action concerning this 
        Agreement shall be brought in the state and federal courts closest to 
        Pleasantville, New York.
        <br/><br/>
    </li>

    <li>
        <u>Indemnification/Offset</u>.  
        Representative agrees to indemnify and hold harmless the Company, its 
        subsidiaries, affiliates, and their shareholders, officers, agents, 
        employees, and directors, from and against any claim, demand, liability, 
        loss, cost or expense, including, but not limited to, court costs or 
        attorneys&#39; fees, asserted against or suffered or incurred by any of 
        them by reason of, directly or indirectly, arising out of or in any 
        way related to or connected with, allegedly or otherwise, Representative&#39;s: 
        (a) activities as a Representative including, without limitation, any 
        unauthorized representations made by Representative; (b) breach of the 
        terms of this Agreement; or (c) violation of or failure to comply with 
        any applicable federal, state or local law or regulation.  The 
        Company shall have the right to offset any amounts owed by Representative 
        to the Company (including, without limitation, the monthly website fee, 
        the commission processing fee and the repayment of commissions as a 
        result of refunds) against the amount of any commissions or bonuses 
        owed to Representative.
        <br/><br/>
    </li>

    <li>
        <u>Notice</u>.  
        Except as expressly set forth herein, any communication, notice or demand 
        of any kind whatsoever shall be in writing and delivered either (i) 
        by electronic communication (whether by email or telecopy), (ii) personally 
        or by same day local courier services or overnight express delivery 
        services; or (iii) by registered or certified mail, postage pre-paid, 
        return receipt requested, or by personal service or overnight courier 
        service.  Notices delivered personally, by overnight express delivery 
        service or by local courier service shall be deemed given as of actual 
        receipt.  Mailed notices shall be deemed given three Business Days 
        after mailing.  "Business Day" means any Monday through Friday 
        other than any such day which, in the State of New York, is a legal 
        holiday or a day on which banking institutions are authorized or required 
        by law or regulation to close.  Any such communication, notice 
        or demand shall deemed to have been given or served on the date personally 
        received by personal service or overnight courier service, on the date 
        of confirmed dispatch if by electronic communication, or on the date 
        shown on the return receipt or other evidence if delivery is by mail.  
        Any party may change its address for notice by giving written notice 
        to the other in the manner provided in this Section.
        <br/><br/>
    </li>

    <li>
        <u>Cumulative Remedies/Waiver</u>.  
        All rights, powers and remedies given to the Company are cumulative, 
        not exclusive and in addition to any and all other rights and remedies 
        provided by law.  No failure or delay of the Company to exercise 
        any power or right under this Agreement or to insist upon strict compliance 
        by Representative with any obligation or provision shall constitute 
        a waiver of the Company&#39;s right to demand exact compliance therewith.  
        Waiver by the Company can be effective only in writing by an authorized 
        officer of the Company.
        <br/><br/>
    </li>

    <li>
        <u>Release</u>.  
        To the extent permitted by law, the Company shall not be liable for 
        and Representative releases the Company from, and waives all claims 
        for any loss of profits, indirect, direct, special or consequential 
        damages or any other loss incurred or suffered by Representative as 
        a result of (a) the breach by Representative of the terms of this Agreement 
        and/or the Policies and Procedures; (b) the operation of Representative&#39;s 
        business; (c) any incorrect or wrong data or information provided by 
        Representative; or (d) the failure to provide any information or data 
        necessary for the Company to operate its business, including without 
        limitation, the enrollment and acceptance of Representative or the payment 
        of commissions and bonuses.
        <br/><br/>
    </li>

    <li>
        <u>Injunctive Relief</u>.  
        Representative agrees that upon a breach of this Agreement the 
        Company will be immediately and irreparably harmed and can not be made 
        whole solely by monetary damages.  Representative agrees that the 
        remedy at law for any breach of any provision of this Agreement shall 
        be inadequate and that, in addition to any other remedies, in law or 
        in equity, it may have, the Company shall be entitled, without the necessity 
        of proving actual damages, to temporary and permanent injunctive relief 
        to prevent the breach of any provision of this Agreement and/or to compel 
        specific performance of this Agreement.
        <br/><br/>
    </li>

    <li>
        <u>Attorneys' Fees</u>.
        The Company shall be entitled to its cost and expenses, 
        including reasonable attorneys&#39; fees, in enforcing its rights under 
        this Agreement.
        <br/><br/>
    </li>

    <li>
        <u>Severability</u>.  
        If under any applicable law or rule of any applicable jurisdiction, 
        any provision of the Agreement is held to be invalid or unenforceable, 
        the remainder of the Agreement will be interpreted as best to effect 
        the intent of the parties hereto.  The remaining provisions of 
        this Agreement shall remain in full force and effect and shall not be 
        affected by the illegal, invalid or unenforceable provision or by its 
        severance from the Agreement.
        <br/><br/>
    </li>

    <li>
        <u>Survival</u>. 
        The covenants and obligations of Representative to abide by the nonsoliciation, 
        trade secrets and confidential information covenants contained herein 
        shall survive termination of this Agreement.
        <br/><br/>
    </li>

    <li>
        <u>Entire Agreement</u>.  
        This Agreement, the Policies and Procedures and the Compensation Plan 
        (all of which are incorporated herein by reference), together with the Company's
        Terms of Use of the 10LocalCoupons.com family of websites, constitute the 
        entire agreement between Representative and the Company, supersede all 
        prior agreements and no other promises, representations, guarantees, 
        or agreements of any kind shall be valid unless in writing and signed 
        by both parties.  In the event of any conflict during the terms 
        of this Agreement and the Policies and Procedures, the Agreement shall 
        prevail.
        <br/><br/>
    </li>

    <li>
        <u>Louisiana Residents Only</u>.
        Louisiana residents may bring an action against the Company with jurisdiction and venue as provided by Louisiana law.
        <br/><br/>
    </li>

</ol>

<br/><br/>