<table cellpadding="0" cellspacing="0" border="0" width="305" style="border-bottom: 1px #d9e7ed solid;">

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">The Well Suited Man</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">$25 Off Any Purchase</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">The Pet Place</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">$10 Off Purchase of $50</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Caroline's</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">Free Dinner Entree</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Kitchens, Etc.</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">20% 1st Online Order</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Schneider's</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">10% Off Any One Item</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Office Supply</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">15% Off In-Store Purchase</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">USA Nutrition</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">40% Off Any Supplement</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">The Bookmark</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">33% Off Listed Price</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Corporate Chic</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">10% Off Sale</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

    <tr>
        <td style="border-top: 1px #d9e7ed solid; padding: 10px 5px;">

            <h2 style="font-size: 17px; font-weight: normal; margin: 0 0 2px 0;">Pie in the Sky</h2>
            <h3 style="font-size: 23px; font-weight: bold; letter-spacing: -1px; margin: 0 0 2px 0;"><a href="#" style="color: #009ed8; font-weight: bold; margin: 0; padding: 0; line-height: 25px; font-size: 23px; text-decoration: underline;">Free 2-Liter Soda</a></h3>
            <span style="color: #009933; font-size: 11px; text-decoration: none;">Valid through 5/16/2012</span>

        </td>
        <td valign="middle" width="13" style="border-top: 1px #d9e7ed solid;"><img src="{{ safe_static_url }}images/mobile/arrowright.gif" border="0" height="19" width="13"/></td>
    </tr>

</table>