<div class="livehelp">

    <div class="sprite"></div>

    <strong>Live Help:</strong>&nbsp; (800) 581-3380 

    <!-- BoldChat Live Chat Button HTML v2.00 (Type=Web,ChatButton=My Custom Chat Button,ChatWindow=My Chat Window,Website=- None -,Department=- None -) -->
    <a class="livechat" href="https://livechat.boldchat.com/aid/2334368075899899083/bc.chat?cwdid=8562393162885790702" target="_blank" onclick="window.open((window.pageViewer && pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat6248441374082660133', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;"><img alt="Live chat by BoldChat" src="https://cbi.boldchat.com/aid/2334368075899899083/bc.cbi?cbdid=3194491634283419196" border="0" /></a>
    <!-- /BoldChat Live Chat Button HTML v2.00 -->

    <div class="clear"></div>
</div>