<img src="{{ safe_static_url }}images/sdm_staff.jpg" align="right" border="0" height="350" width="350" alt="Straus Digital Media Staff" style="margin: 0 -35px 25px 35px;"/>

<h2>Who We Are</h2>

<p>
    Thanks for visiting {{ current_site.domain }}!
    We're the same team who created the successful RegionalHelpWanted.com network.
</p>

<h4>Here's our idea:</h4>

<p>
    Coupons (like other forms of print advertising), are rapidly transforming.
    Coupons are moving to the web and even to our mobile phones.
</p>

<p>
    <strong class="highlight">Customers</strong>, <strong class="highlight">Coupon Clippers</strong>, <strong class="highlight">Consumers</strong>, just supply your email address and zip code.
    Get our weekly Email Flyers with 10 {{ current_site.name }} Coupons.
    Browse the website too.
    Grab all the coupons you like.
    Some coupons can be sent as text messages to your cell phone!
</p>

<p>
    <strong class="highlight">Business Owners and Operators</strong>, get more attention and more traffic!
    Display your coupon to potential customers in the {{ current_site.region }}!
    <a href="{% url how-it-works %}">Learn more</a> about our weekly Email Flyers.
    It's like direct mail only better.
    Registered consumers have requested our coupons.
</p>

<p>
    <strong class="highlight">Potential Media Partners</strong>, there's <strong>$37 Billion in Local Advertising dedicated to Direct Mail</strong>.
    Work with a professional, proven team, to claim your share.
    Email <a href="mailto:Eric@10Coupons.com?subject={{ current_site.domain }}">Eric@10Coupons.com</a>
</p>

<p>
    We're proud and excited to present our new website! We appreciate your visit.
</p>

<p class="smallmargin"><em>Best,</em></p>

<p><img src="{{ safe_static_url }}images/layout/eric_signature.gif" width="185" height="55" border="0" alt="Eric Straus signature"/></p>

<strong>Eric Straus</strong><br/>
<em>President</em><br/>
Straus Digital Media<br/>
Phone: 914-920-3075 x301<br/>
Email: <a href="mailto:Eric@10Coupons.com?subject={{ current_site.domain }}">Eric@10Coupons.com</a>
