<h5>10LocalCoupons.com Sweepstakes</h5>

<h2><strong>OFFICIAL RULES</strong></h2>

<p>NO PURCHASE NECESSARY TO ENTER.</p>

<p>1. These rules govern the 10LocalCoupons.com Sweepstakes to win $10,000 (the "Sweepstakes"). The Sweepstakes is open to qualified entrants through our network of local websites (together, the "Website") as well as the 10Coupons Alerts Text Service ("Text Service"). This is a national sweepstakes. Our list of websites is <a href="{% url site-directory %}">HERE</a>.</p>

<p>2. To enter the Sweepstakes using the Website: go to <a href="{% url home %}">{{ current_site.domain }}</a>. You will be asked to register to receive weekly coupon flyers by entering your email address and zip code and clicking the "Go" button. You will then be asked to provide your cell phone number and carrier. Next, you will be asked to confirm your registration in two steps (both steps must be completed to enter):</p>

<p>(i) You will be instructed to go to your email inbox to open an email from us which will provide a link for you to click in order to double opt-in.</p>

<p>(ii) You will also be instructed to go to your cell phone to view a text message sent to the number provided. This message will ask you to reply with a "Yes" in order to confirm your intention to sign up for the Text Service as well or a "No" to only verify your cell phone number.</p>

<p>If you do not have a cell phone number or prefer not to share it with us, but you still wish to enter the Sweepstakes, send a typewritten letter to $10,000 Sweepstakes, c/o Straus Digital Media, LLC, 427 Bedford Rd, Suite 330, Pleasantville, NY 10570.  In your typewritten letter, include your exact email address as you entered it on the site and your home telephone number, in addition to the following language "I do not have - or do not care to share - a mobile number.  Please enter me in the $10,000 Sweepstakes."</p>

<p>To enter the Sweepstakes by using your mobile phone: text your postal zip code to 71010. You will then be instructed to confirm your registration in two ways (both steps must be completed to enter):</p>

<p>(i) You will receive a text message back to the same cell phone asking you to reply with a "Yes". You may reply with a "Yes" to confirm your intention to sign up for the Text Service or a "No" to only verify your cell phone number. You will also receive another text asking you to respond by providing your email address.</p>

<p>(ii) Next, you will receive a text message back instructing you to go to your email inbox to open an email from us which will instruct you to click on the link provided in order to double opt-in and confirm your registration to receive email flyers as well.</p> 

<p>Please note that both methods of entry include text messages both sent and received by you.  You are responsible for any fees charged by your mobile carrier for the text messages required to enter the Sweepstakes.</p>

<p>3. To be eligible to enter and win the Sweepstakes, you must be a legal resident of the United States and 18 years of age or older (except residents of Alabama and Nebraska must be 19, and residents of Mississippi must be 21, or older). Employees of Straus Digital Media, LLC, owner of the Website and Text Service and their immediate family members and others living in the same household are not eligible.</p>

<p>4. The Sweepstakes is limited to one entry per person, email account and cell phone account.</p>

<p>5. The Sweepstakes begins at 12:00 a.m. on December 30, 2011 and ends on December 28, 2012, unless we extend it. $10,000 prize drawings will be held on each of March 30, 2012, June 29, 2012, September 28, 2012, and December 28, 2012. We may, in our sole discretion, extend the Sweepstakes.</p>  

<p>6. To be eligible, an entry must be received prior to the time of drawing and your related registration with us must still be in effect. We are not responsible for late, lost, stolen, illegible, incomplete, undelivered or misdirected entries. We are not responsible for any typographical errors in the Sweepstakes or for human, technical, network, electronic or computer hardware or software failures of any kind that may occur in connection with the processing of entries or the administration of the Sweepstakes, including any damage to any entrant's or other person's computer hardware, software or data resulting from downloading any materials related to the Sweepstakes. All entries become the property of Straus Digital Media, LLC.</p>

<p>7. The prize winner will be selected from all eligible entries received by random drawings held on the dates indicated above. The total number of entries received will determine the odds of winning for each drawing. A winner will be subject to verification by us. Our decisions will be final and binding in all matters. One prize will be awarded on each drawing date. The winner will be notified by mobile phone call within 48 hours of the drawing. If the winner cannot be located or does not respond within 5 days after the first notification attempt, the Company may select an alternate winner by another random drawing.</p>

<p>8. Each winner will be required to sign and return an affidavit of eligibility, a publicity/liability release and a Federal Form W-9 within 10 days of notification or the prize may be forfeited and an alternate winner selected.</p> 

<p>9. All prizes are non-transferable and may not be used in conjunction with any other promotion. Forfeited prizes will be re-awarded only in our discretion. Winning entrants may win only once and become ineligible thereafter.</p>

<p>10. The Sweepstakes is void where prohibited by law. All federal, state and local laws and regulations apply. All federal, state and local taxes are the winners' sole responsibility.</p>

<p>11. For a copy of these Official Rules, please send a stamped, self-addressed envelope to 10LocalCoupons.com $10,000 Sweepstakes, c/o Straus Digital Media, LLC, 427 Bedford Rd, Suite 330, Pleasantville, NY 10570. For the name of a prize winner, send a stamped, self-addressed envelope no earlier than the 15th of the month of drawing and no later than the 15th of the following month to the same address. Residents of Washington and Vermont may omit return postage.</p>

<p>12. The Sweepstakes is subject to these Official Rules. By participating, entrants agree to be bound by these Official Rules and our decisions in interpreting these Official Rules and administering the Sweepstakes and to release Straus Digital Media, LLC and its employees, members, sponsors, affiliates, media partners and other agents from any liability for personal injury, loss or damages of any kind arising from the Sweepstakes. We reserve the right to cancel the Sweepstakes at any time and for any reason.</p>

<p>CAUTION: ANY ATTEMPT BY AN ENTRANT OR OTHER PARTY TO DELIBERATELY DAMAGE THE WEBSITE, EMAIL FLYERS OR TEXT SERVICE OR UNDERMINE THE LEGITIMATE OPERATION OF THE SWEEPSTAKES MAY BE IN VIOLATION OF CRIMINAL AND CIVIL LAWS. SHOULD SUCH AN ATTEMPT BE MADE, WE RESERVE THE RIGHT TO SEEK REMEDIES AND DAMAGES, INCLUDING LEGAL FEES AND COSTS, FROM ANY SUCH PARTY TO THE FULLEST EXTENT OF THE LAW, INCLUDING CRIMINAL PROSECUTION.</p>

<p>&copy; {% now "Y" %} Straus Digital Media, LLC.  All rights reserved.</p>

<p>
    <a href="{% url home %}">Home</a> &nbsp;|&nbsp;
    <a href="{% url privacy-policy %}">Privacy Policy</a> &nbsp;|&nbsp;
    <a href="{% url terms-of-use %}">Terms of Use</a>
</p>
