<h3>About our Text Message Service</h3>

<h4><em>{{ current_site.domain }} is <strong class="highlight">71010</strong> on your cellphone.</em></h4>
<p>
Tell friends: <em>Text SAVE to 71010</em>
</p>
<img src="{{ safe_static_url }}images/howitworks_phones.gif" height="230" width="240" border="0" align="left"/>

<p>
    <strong>Optional:</strong><br/>
    {{ current_site.domain }} offers text message alerts (4 messages/month) to subscribers containing coupons and  news about current features and services.
    <strong>Message and Data Rates May Apply</strong>.
    (Service is enabled on most major carriers.)
</p>

<p>
    To cancel text <strong>STOP</strong>, <strong>QUIT</strong>, <strong>END</strong>, 
    <strong>CANCEL</strong>, <strong>UNSUBSCRIBE</strong>, or <strong>STOP ALL</strong>
    to 71010. For help, text <strong>HELP</strong> to 71010. Text from the phone that 
    receives our messages.
</p>