<div class="padding center">

    <script type="text/javascript" src="{{ safe_static_url }}scripts/flash.js"></script>

    <div id="flash_video" class="objectVid">
        <noscript>
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="480" height="270" id="create_coupon" align="middle">
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="false" />
            <param name="movie" value="{{ safe_static_url }}video/create_coupon.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" />
            <embed src="{{ safe_static_url }}video/create_coupon.swf" quality="high" bgcolor="#ffffff" width="480" height="270" name="create_coupon" align="middle" allowScriptAccess="sameDomain" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/flashplayer/" />
        </object>
        </noscript>
    </div>

    <script type="text/javascript">
        if(FlashDetect.versionAtLeast(9)){
            $('#flash_video').flash({
                src: '{{ safe_static_url }}video/create_coupon.swf',
                width: 480,
                height: 270
            });
        }else{
            $('#flash_video').html('<div class="padding small">Your Flash plugin is out of date. <a href="http://get.adobe.com/flashplayer/" target="_blank">Update it here</a></div>');
        }
    </script>

</div>
<div class="center">

    <a class="button" href="{% url how-it-works %}">Learn More</a>
    <a class="button" href="{% url advertiser-registration %}">Create a Coupon!</a>

</div>