{% load currency %}

<h3>10LocalCoupons.com Compensation Plan</h3>

<p class="small"><em>This compensation plan was last updated on: </em> <span class="highlight">1/31/2012</span>.</p>

<div class="hr"></div>

<h4 class="smallmargin"><strong>INDEPENDENT ADVERTISING REPRESENTATIVES</strong></h4>

<p>
    <em>Sell effective coupon publishing packages to local businesses.</em>
</p>

<p>
    40% Retail Commission* on personal coupon publishing sales and company upsells** to your clients.
</p>

<h4 class="smallmargin"><strong>INDEPENDENT ADVERTISING MANAGERS</strong></h4>

<p>
    <em>Recruit and build a team of Advertising Representatives.</em>
</p>

<a name="1"></a>

<p>
    In addition to Retail Commissions listed above...<br/>
    25% Override* on all Commissions and Overrides paid to personally recruited Advertising Representatives.
</p>

<h4><strong>ADDITIONAL COMMISSIONS</strong></h4>

<ul>

    <li>
        <strong>5K CLUB</strong> - Once the Advertising Representatives and Advertising Managers in a particular market area, i.e. 10NashvilleCoupons.com, build the audience of local consumers receiving the free weekly coupons by email to over 5,000 participants 10LocalCoupons.com will begin marketing upsells in that area, generating even more commissions.
    </li>

    <li>
        <strong>10K CLUB</strong> - Once the audience of local consumers in a market area is over 10,000 participants then the Retail Commission will increase to 50% on coupon publishing sales and upsells made in that area.
    </li>

</ul>

<div class="hr"></div>

<h4><strong>HOW DOES AN ADVERTISING REPRESENTATIVE GET STARTED?</strong></h4>

<p>
    An applicant applies online on the Website of the Advertising Representative or Advertising Manager who referred them.
    Applicants will usually be notified about whether or not they have been accepted within 1 to 3 business days.
    If accepted, there are no purchases or fees involved.
</p> 

<div class="hr"></div>

<h4><strong>ONCE APPROVED, WHAT DOES A NEW ADVERTISING REPRESENTATIVE RECEIVE?</strong></h4>

<ul>
    <li>
        <p class="smallmargin">Complete Advertising Representative Training</p>
        <ul class="small nomargin">
            <li>Weekly business and virtual office training</li>
            <li style="padding: 0;">Weekly prospecting and sales training</li>
        </ul>
    </li>
    <li>Customer Service team to support clients and sales team</li>
    <li>Personalized home office follow up system to help build client base</li>
    <li>Company marketing efforts to upsell clients and increase your profits</li>
    <li>State-of-the-art technology support team</li>
    <li>Local and national media support</li>
    <li>Unique lead generation program</li>
    <li>Unlimited access to demo advertising site</li>
    <li>Personalized client displays</li>
    <li>Exclusive pricing</li>
    <li>Advertising Representative Website portal with your own customized website address for all 300+ local company websites nationwide</li>
    <li>Complete online back office Business Management System</li>
    <li>24/7 Website backup support</li>
    <li>
        <p class="smallmargin">Online Advertising Representative Success System including:</p>
        <ul class="small nomargin">
            <li>Success Guide, with marketing and training materials</li>
            <li>Personalized full color business card template</li>
            <li style="padding: 0;">Personalized Client order forms</li>
        </ul>
    </li>
    <li>100% support for Ad Rep's success.</li>
</ul>

<br/>

<p class="tiny">
    *Qualifying for Commissions and Overrides: While there are no qualifications to be eligible for
    Retail Commissions on coupon posting sales made to Advertisers, to be eligible for all other Commissions
    and Overrides, Advertising Representative or Advertising Managers must have, in the previous 30 days,
    either 1) personally made a minimum of one coupon publishing sale, or 2) helped a personally recruited
    Advertising Representative make their first coupon publishing sale.
</p>

<p class="tiny">
    **Future upsells by the company may include, but are not limited to; Weekly Coupon Flyers, Dedicated Email
    Blasts, Dedicated Text Message Blasts and Advanced Coupon Layouts.
</p>

<p class="tiny">
    Any earnings information, statements regarding income, or testimonials and examples are used solely
    to explain the Company's compensation plan and are not representations or guarantees of any earnings
    or income. The Company makes no representations or warranties regarding an Independent Advertising
    Representative's level of success, if any, including any amount of earnings or recruiting success. Actual
    income results may vary significantly and are based on many factors, including an Independent Advertising
    Representative's individual efforts and skills, as well as market conditions. If an applicant is accepted to
    become an Advertising Representative, there are no purchases or fees required. There are no bonuses paid
    for recruiting. All bonuses are paid only when products are sold.
</p>

<br/>
