<p><a class="modaltrigger" name="modalImage1" href="#"><img src="{{ safe_static_url }}images/spending_2006-2014_sm.gif" width="300" height="200" alt="chart: U.S. Mobile Coupon Spending 2006-2014, data copyright Borrell Associates, Inc."/></a></p>

<div id="modalImage1" class="hidden">
    <img src="{{ safe_static_url }}images/spending_2006-2014.gif" width="550" height="345" alt="chart: U.S. Mobile Coupon Spending 2006-2014, ad spending in $ Billions"/>
</div>

<div class="paddingSm">

    <h4>In the Press:</h4>

    <p class="small">
        <a href="http://radioink.com/article.asp?id=2148717" target="_blank">Broadcasters Debate the Future of Online Coupons</a><br/>
        <em>Radio Ink (March 2011)</em><img src="{{ safe_static_url }}images/iconNewWindow.gif" height="11" width="15" border="0" alt="Radio Ink"/>
    </p>

    <p class="small">
        <a href="{% url radio-ink %}">Online Coupons: An Easy Way to Take Cash From Valpak</a><br/>
        <em>Radio Ink (March 2011)</em>
    </p>

    <p class="small">
        <a href="{% url inside-radio %}">The Next Big Opportunity for Radio</a><br/>
        <em>Inside Radio (Fall 2010)</em>
    </p>

    <p class="small">
        <a href="http://mediadecoder.blogs.nytimes.com/2010/06/18/if-all-politics-is-local-is-all-marketing-too/" target="_blank">If All Politics Is Local, Is All Marketing, Too?</a><br/>
        <em>NYTimes.com</em><img src="{{ safe_static_url }}images/iconNewWindow.gif" height="11" width="15" border="0" alt="NYTimes.com"/>
    </p>

    <p class="small">
        <a href="http://www.radio-info.com/news/eric-straus-unveils-another-way-for-radio-to-attack-competing-local-media-1" target="_blank">Eric Straus unveils another way for radio to attack competing local media: "10LocalCoupons.com."</a><br/>
        <em>RADIO-INFO.com</em><img src="{{ safe_static_url }}images/iconNewWindow.gif" height="11" width="15" border="0" alt="RADIO-INFO.com"/>
    </p>

    <p class="small">
        <a href="http://www.insideradio.com/Article.asp?id=1849483&spid=32061" target="_blank">Stations target direct mail dollars.</a><br/>
        <em>Inside Radio</em><img src="{{ safe_static_url }}images/iconNewWindow.gif" height="11" width="15" border="0" alt="Inside Radio"/>
    </p>

    <p class="small">
        <a href="http://www.radio-info.com/newsletter/html/tri-06212010.html" target="_blank">Consumers will want their discounts delivered digitally, says Eric Straus of the new "10LocalCoupons.com."</a><br/>
        <em>Taylor on RADIO-INFO</em><img src="{{ safe_static_url }}images/iconNewWindow.gif" height="11" width="15" border="0" alt="Taylor on RADIO-INFO"/>
    </p>

    <p class="small">
        <a href="{% url press-release %}">Press Release: "Offering Broadcasters a Slice of Local Direct Mail Ad Market"</a><br/>
        <em>10LocalCoupons.com</em>
    </p>

</div>