<table width="100%" bgcolor="#e4eff5" style="border:none;" cellpadding=0 cellspacing=0>
    <tr>
        <td width="10" align="left" valign="top"><img src="{{ STATIC_URL }}images/email/layout/cornerTopLeftBox2_102411.gif" height="10" width="10" border="0" style="display: block;"/></td>
        <td valign="top" align="left" style="padding: 12px 0 8px 0;">
    
            <h3 style="font-size: 21px; font-weight: normal; margin: 0 0 5px 0;">
                Win $10,000!*
            </h3>         
            <p style="margin: 0 0 12px 0;">
                <a href="http://{{ site.domain }}" style="color: #0095cf;"><span style="color: #0095cf;">Make sure you're qualified</span></a>
                for the next $10,000 drawing.
            </p>
            <p>
                Congratulations to Michaela Ramos, our latest winner!
            </p>
            <p style="font-size: 11px; font-style: italic; margin: 0 0 0 0;">
                No purchase necessary.
                See <a href="{{ base_url }}{% url contest-rules %}" style="color: #0095cf;"><span style="color: #0095cf;">rules</span></a> for details.
            </p>
    
        </td>
        <td width="10" align="right" valign="top"><img src="{{ STATIC_URL }}images/email/layout/cornerTopRightBox2_102411.gif" height="10" width="10" border="0" style="display: block;"/></td>
    </tr>
    <tr>
        <td height="10" width="10" align="left" valign="bottom"><img src="{{ STATIC_URL }}images/email/layout/cornerBottomLeftBox2_102411.gif" height="10" width="10" border="0" style="display: block;"/></td>
        <td height="10" bgcolor="#e4eff5"></td>
        <td height="10" width="10" align="right" valign="bottom"><img src="{{ STATIC_URL }}images/email/layout/cornerBottomRightBox2_102411.gif" height="10" width="10" border="0" style="display: block;"/></td>
    </tr>
</table>