<h2>Isn't 10LocalCoupons.com JUST like my station's 1/2 off deals program?</h2>

<p class="smallmargin"><strong>NO:</strong> You sell discounted gift certificates.</p>

<p><strong class="highlight">We sell coupons.</strong></p>

<p class="smallmargin"><strong>NO:</strong> Your sales team has to sell your 1/2 off program.</p>

<p><strong class="highlight">We let our small business clients self-administer their coupons.</strong></p> 

<p class="smallmargin"><strong>NO:</strong> Your gift certificates are generally from 3 categories: restaurants, spas  and experiential activities.</p>

<p><strong class="highlight">Our coupons are from small businesses that can't or won't ever do 50% off deals: plumbers, hvac, carpet cleaning, dog grooming, window cleaning, etc.</strong></p>

<p class="smallmargin"><strong>NO:</strong> You are competing with Groupon, Living Social, Buy with Me.</p>

<p><strong class="highlight">We are competing with the newspaper, direct mail, ValPak.</strong></p>

<br/>

<h2>Can 10LocalCoupons.com actually HELP my 1/2 off program?</h2>

<p><strong class="highlight">YES:</strong> Your "deals" can be posted on our site for FREE &amp; seen by many new eyeballs... getting you more sales of certificates and more email addresses for your 1/2 off database.</p>

<br/>

<table>
    <tr>
        <td>
            <h5>Eric Straus</h5>
            <p class="small">
                <em>CEO / East Coast</em><br/>
                914-920-3075 x301<br/>
                <a href="mailto:Eric@10Coupons.com?subject={{ current_site.domain }}">Eric@10Coupons.com</a>
            </p>            
        </td>
        <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
        <td>
            <h5>Tom Sly</h5>
            <p class="small">
                <em>CRO / West Coast</em><br/>
                914-920-3075 x304<br/>
                <a href="mailto:Tom@10Coupons.com?subject={{ current_site.domain }}">Tom@10Coupons.com</a>
            </p>            
        </td>
    </tr>
</table>