<h2>The Next Big Opportunity for Radio</h2>

<img src="{{ safe_static_url }}images/inside_radio_blue_page.jpg" width="300" height="386" border="0" align="right" style="margin: 0 0 20px 20px;"/>

<p><em>As seen in the Fall 2010 issue of INSIDE RADIO</em></p>

<p>Local radio needs new ideas to increase its share of the local advertising dollars in every market.  Since the total broadcast pie isn't growing significantly, why not learn to compete for direct mail dollars that are now moving from print to digital? </p>

<p>BIA/Kelsey reports $130 Billion in local ad spending in 2008, with 11% going to radio. But 29% went to direct mail!!!!  So how does radio get its share of those dollars?</p>

<p><strong>10LocalCoupons.com</strong> is a new tool that lets radio compete for local dollars from clients that normally don't spend on radio.  Coupons are rapidly moving from traditional media (newspaper, Sunday inserts, direct mail) to new media (online and mobile) and radio finally has a real opportunity to share in that revenue.</p>

<p>This new idea was developed by <strong>Eric Straus</strong>, the founder of the highly successful business RegionalHelpWanted.com. And the concept behind the original is the same for the new business.</p>

<h4>Broadcasters win by working together:</h4>

<p>"It's the combined reach and frequency from all broadcasters in a market that will make this a success," says Eric.  When broadcasters work together, the website produces a much larger revenue pie, and every participating station gets more.   Our experience proves that when more clusters participate, there's more revenue for everyone!"</p>

<p>"We know we can build a dominant brand by getting broadcasters to work together.  We're going after the Valpak money - The local dry cleaners, nail salons, carpet cleaners and landscapers that don't do broadcast advertising. They typically reach the local consumer with coupons... and now, as coupons move from print to digital, radio has a unique opportunity to steal that money."</p>

<p>"It's time for broadcasters to profit from the Direct Mail business without overhead, without hassle, without expense. Stations dedicate only unsold 24 hour BTA inventory  without involvement from their stations' sales team."</p>

<h4>The radio ads do the cold calling:</h4>

<p>Former station group owner Straus believes that radio salespeople should be out chasing $2,000 or $20,000 orders - not $200 orders.</p>

<p>10LocalCoupons.com's advertisers can buy specific geographic zones, so they're reaching consumers just in their trading zone, making it affordable for any size business with one or multiple locations. Each business spends small amounts of money, but thanks to geographic zoning, the money adds up quickly.</p>

<p>"Our revenue model is based on 10 geographic zones in an average market. If the program produces 10 coupons per week per zone, that means just over $1 million in new revenue for broadcasters in an average size market," says Straus.</p>

<p>It's a very simple program: The consumer in Portland (for example) hears an ad for 10PortlandCoupons.com. She goes to the website and signs up to receive a free weekly email flyer containing 10 LOCAL coupons. It's easy, free, targeted and valuable.</p>

<p>It's just as easy for a local business: A merchant hears the radio ad targeting businesses... they go online, create the coupon immediately, using the company's SCBP (simple coupon building process) - and it's posted on the site immediately and included in the next weekly email flyer. The Customer Service Team at 10LocalCoupons.com handles all customer needs, such as coupon offers, adding zones, improving redemption, renewals, etc.</p>

<p>Everyone wins!</p>

<p>There are over 50 markets already partnering with 10LocalCoupons.com. Check out an active site at: <a href="http://www.10PortlandCoupons.com">www.10PortlandCoupons.com</a>.</p>

<br/>

<table>
    <tr>
        <td>
            <h5>Eric Straus</h5>
            <p class="small">
                <em>CEO / East Coast</em><br/>
                914-920-3075 x301<br/>
                <a href="mailto:Eric@10Coupons.com?subject={{ current_site.domain }}">Eric@10Coupons.com</a>
            </p>            
        </td>
        <td> &nbsp; &nbsp; &nbsp; &nbsp; </td>
        <td>
            <h5>Tom Sly</h5>
            <p class="small">
                <em>CRO / West Coast</em><br/>
                914-920-3075 x304<br/>
                <a href="mailto:Tom@10Coupons.com?subject={{ current_site.domain }}">Tom@10Coupons.com</a>
            </p>            
        </td>
    </tr>
</table>

