<h2>The 10LocalCoupons.com Story</h2>

<img src="{{ safe_static_url }}images/eric.jpg" align="right" border="0" height="350" width="210" alt="Eric Straus" style="margin: 0 0 25px 25px;"/>

<p>
    Eric Straus, the founder of 10LocalCoupons.com, comes from a family with a long and fabled history stretching back to the American Revolution. His ancestors provided him with a legacy of hard work, honesty, commitment to family, public service and entrepreneurialism.
</p>

<p>
    Eric's family roots include the co-founders of Macy's, the world's largest department store and <em>The New York Times</em>.
    His family members have served in both the U.S. Congress and the New York State Senate.
    His great grandfather served in the Franklin Roosevelt Administration as U.S. Cabinet Secretary for Housing and Urban Development and his great, great uncle served as U.S. Secretary of Commerce under Theodore Roosevelt.
</p>

<p>
    The family's character and values are best summed up by the story of Isadore Straus, owner of Macy's Department Store with Eric's great grandfather, Nathan Straus.
    Isadore and his wife Ida set out for Europe on the luxurious Titanic.
    When the ship hit an iceberg and the captain called for all women and children to evacuate and board the few life boats, Ida Straus refused to do so, saying "I will not be separated from my husband.
    As we have lived, so will we die together."
    Isadore and Ida were last seen holding hands and were lost at sea.
    For nearly 100 years, Manhattan has been the home of Straus Park, named in the memory of one of history's most touching love stories.
</p>

<p>
    That same fierce loyalty, dedication and track record of business success persists in the family today.
    Following generations of family members making a significant impact on the world of commerce, health and education, Eric Straus entered the rapidly expanding world of radio after graduating from Yale University.
    He rose quickly, being promoted from Account Executive to Sales Manager.
    He went from there to the world of investment banking, where as a Senior Vice President specializing in media mergers and acquisitions he arranged and brokered the sale of 14 media companies.
    Then, as President of Straus Media Group, he purchased, combined, grew and managed a group of 10 radio stations, increased their value more than 2,000 percent and eventually sold the company to Clear Channel Radio, the world's largest radio group.
</p>

<img src="{{ safe_static_url }}images/sdm_staff.jpg" align="left" border="0" height="350" width="350" alt="Straus Digital Media Staff" style="margin: 0 25px 25px 0;"/>

<p>
    As a former board member of the New York State Broadcaster's Association, Eric was keenly aware of what was happening in the world of media and business.
    Good employees were hard to find.
    New companies like Monster.com were seeing success but Eric realized that something was missing and was determined to find a solution.
    He assembled a world class team and, combining the power of the Internet and radio, launched RegionalHelpWanted.com.
    Over the next decade, the company put hundreds of thousands of employees and employers together and in doing so experienced massive success.
    RegionalHelpWanted.com eventually built and maintained over 320 local help wanted websites, enlisting the efforts of over 2,000 radio and television partner stations throughout North America.
    Still on the company Board of Directors today, Eric eventually sold the company to Warburg Pincus, a $35 billion dollar Private Equity Fund.
</p>

<p>
    Watching the changes in the economy, Eric realized that businesses worldwide have been challenged financially and are searching for ways to get more customers and increase profits.
    At the same time, consumers have also been stretched financially and are searching for ways to save money.
    Eric realized that the use of coupons was growing exponentially and had crossed all economic barriers from the poor to the wealthy.
    Direct mail advertising was dramatically shifting to the Internet and mobile media.
</p>

<p>
    Because the world of traditional media had become cluttered, the team created a new model that combined the power of personal contact with the explosive new direction of social media, all with a goal to create the ultimate solution for both business owners and consumers.
    He also recognized that more than ever before there are a massive number of talented individuals who are seeking to supplement their income on a full time or part time basis.
    The timing could not have been better.
    Sharing the concept with his key team members who helped build RegionalHelpWanted.com the vote was unanimous and 10LocalCoupons.com was born.
</p>

<p>
    Following a family history of making a difference and after a lifetime of preparation, 10LocalCoupons.com has assembled seasoned teammates with decades of experience and over a billion dollars in success, all focused on helping businesses attract customers, helping consumers save money, and providing you with the financial opportunity of a lifetime.
</p>

<p align="center">
    <a class="button largeBtn" href="{% url become-an-ad-rep %}">Get Started Today!</a>
</p>

<br/>

<div class="hr"></div>
