<div style='font-weight:bold;'>
<p>Independent Advertising Rep. & Manager</p>

<p>
{{ ad_rep.site.domain }} is rapidly expanding. We're looking for Independent Advertising Representatives and Managers in the {{ ad_rep.site.region }} right now! 
</p>

<p>
Are you looking for a change? Want to help local businesses get customers AND help local consumers save money? 
</p>

<p>
Work part-time or full-time with a flexible schedule! Work from home and receive generous commissions, bonuses and incentives with no cap on your income. Local radio, television and/or Internet marketing are provided to enhance your success.
</p>

<p>
Complete training is provided. Sales, management and/or recruiting experience is a plus, but not necessary. This is an exciting opportunity to advance as we expand.
</p>

<p>
This may be the opportunity you’ve been waiting for! Learn how to apply at:</br>
{{ http_protocol_host }}/{{ ad_rep.site.directory_name }}{% url become-an-ad-rep %}{{ ad_rep.url }}
</p>

<p>Achieve success for you and your community!</p>

Contact Information:</br>
{{ ad_rep.first_name }} {{ ad_rep.last_name }}</br>
{{ ad_rep.primary_phone_number }}</br>
{{ ad_rep.email }}</br>

</div>