<div class="center">

    <h3 class="smallmargin">Check your cell phone right away!</h3>

    <p class="small">A text message was sent to <strong>{{ mobile_phone_number }}</strong> from <strong>71010</strong>.</p>

    <table cellpadding="10" cellspacing="0" border="0" align="center">
        <tr>
            <td width="50%" valign="top">
                <h2><strong>Reply </strong> <span class="highlight">"<strong>YES</strong>"</span></h2>
                <p class="smallmargin">Verify this phone <strong>AND</strong> receive automatic Text Coupons</p>
                <p class="tiny smallmargin">(Maximum: 4 messages/month)</p>
                <p class="tiny nomargin"><a class="ajaxtrigger" href="{% url loader 'load_terms_of_use' %}">Terms and Conditions</a></p>
            </td>
            <td width="50%" valign="top">
                <h2><strong>Reply </strong> <span class="highlight">"<strong>NO</strong>"</span></h2>
                <p>Verify this phone without automatic coupons</p>
            </td>
        </tr>
    </table>

    <div class="clear"></div>
</div>