<h2>Online Coupons: An Easy Way to Take Cash From Valpak</h2>

<img src="{{ safe_static_url }}images/radio_ink_march2011.gif" width="300" height="386" border="0" align="right" style="margin: 0 0 20px 20px;"/>

<p><em>As seen in the <a href="http://www.zinio.com/reader.jsp?issue=416159397&e=true" target="_blank">March 7, 2011 issue</a> of RADIO INK MAGAZINE</em></p>

<p>
    People love their coupons.
    When that Valpal envelope or the Sunday paper arrives, I look at my wife sitting at the kitchen table, slicing and stacking and counting.
    "Is it really worth it to save $10?" I murmur that to myself, not saying it out loud, of course.
    You guys know the deal.
    I'd rather clip my toenails than clip coupons.
    Digging out coupons only slows me down when I'm at Costco, using my cart to mow down the people who are stopped in the middle of the aisle eating all the free food.
</p>

<p>
    But the coupon business is up to $37 billion a year, so I'm guessing my wife is not the only one counting and stacking.
    Of that $37 billion, radio gets 11 percent.
    Ugly stepchild once again.
    And now this Groupon thing is all the rage.
    Groupon has more than 50 million subscribers and claims 22 million Groupons have been sold in North America.
    The bonus for the local advertiser is that Groupon has cut out the middlemen, the newspaper people &mdash; it's all online.
    And not only do people love their coupons, they love getting them online.
    Groupon claims it's saved shoppers $980 million so far. Not bad for a company that launched in November 2008.
</p>

<p>
    Former radio station owner Eric Straus wants to raise that 11 percent figure for radio.
    He says he has a pretty good plan, and it'll just be a question of whether radio executives and managers are willing to listen to his pitch and commit to the strategy.
    Straus is the man behind <a href="http://regionalhelpwanted.com" target="_blank">RegionalHelpWanted.com</a>, a company he started after he sold his radio stations to Clear Channel in 2000.
</p>

<p>
    His latest company launched in August 2010.
    It's called <a href="http://10coupons.com">10LocalCoupons.com</a> &mdash; and Straus says the new venture was designed to "kill Valpak."
    No small task!
    Valpak started in 1968, when one man, Terry Loebel, mailed 14 different coupons to 20,000 people in Clearwater, FL.
    In 2009, Valpak mailed out 20 billion (yes, that's a "b") coupons.
    It reaches 42 million unique addresses each month.
    And in 2006 Valpak teamed with Google to provide online coupons through Google Maps.
    So it's safe to say that "killing Valpak" could be as tough a task as killing UBL.
</p>

<p>
    Straus' second goal is to put money on broadcasters' bottom line, and that may be easier.
    For the local merchant, he says there are four benefits in going with 10LocalCoupons.com instead of Valpak.
</p>

<ol>
    <li>
        It takes five minutes to post a coupon vs. days of dealing with a salesperson and graphic designer for Valpak.
        <br/><br/>
    </li>
    <li>
        The coupon offer is delivered by email to thousands of opted-in consumer prospects.
        With Valpak, Straus claims, "Coupons are thrown out as junk mail most of the time."
        I'll need to ask my wife about that one.
        <br/><br/>
    </li>
    <li>
        Valpak has printing and mailing costs, so the cost for each merchant is high.
        At 10LocalCoupons.com, the investment for each local merchant is lower.
        <br/><br/>
    </li>
    <li>
        With 10LocalCoupons.com, the local merchant's coupon is posted immediately.
        With Valpak, the offer goes out weeks after it's submitted and after a cumbersome approval process.
    </li>
</ol>

<p>
    On the radio side, each station is asked to run professional-sounding spots, BTA.
    "Together we build a huge direct mail brand in the local market," says Straus.
    In other words, the name of the program changes for each market:
    <a href="http://10DesMoinesCoupons.com">10DesMoinesCoupons.com</a>,
    <a href="http://10BuffaloCoupons.com">10BuffaloCoupons.com</a>,
    <a href="http://10LosAngelesCoupons.com">10LosAngelesCoupons.com</a>, etc.
</p>

<p>
    10LocalCoupons.com handles sales, customer services, upselling, renewals, technology and accounting.
    It's turnkey, which is the way managers like things.
    Too many other things to do, not to mention reporting to the corporate mac-daddy who seems to call once a day, not once a week as promised.
</p>

<p>
    And now for the million-dollar question:
    How much does the radio station get?
    You get 70 percent of the net revenue from merchants posting and emailing their coupons.
    Straus estimates that an average-size cluster of radio stations in an average-size market should generate $250,000-plus by year number three.
    That's revenue with no sales effort and no sales expense.
    It'll take the first two years to build the program, so you need to keep in mind that this is not a get-rich-quick scheme.
</p>

<p>
    However, this or another online coupon program may be worth a try as you work on making your remotes relevant, fix the transmitter, manage your managers, figure out what to do with your dot-com, and oh, yeah, sell the regular inventory.
</p>

<p>
    10LocalCoupons.com is in 100 markets, and you may have already heard ads running in yours.
    For more information, contact Eric Straus at <a href="mailto:eric@strausdigital.com">eric@strausdigital.com</a>.
</p>

<p class="small">
    <em>
        Ed Ryan is Editor-in-Chief of Radio Ink. Email: edryan@radioink.com
    </em>
</p>

<br/>

