<div class="center">

    <h3 class="smallmargin">Check your email too!</h3>

    <p class="small">A confirmation message was sent to <strong>{{ is_logged_in }}</strong></p>

    <table cellpadding="10" cellspacing="0" border="0" align="center">
        <tr>
            <td valign="top">
                <h2><strong>Click </strong> <span class="highlight">"<strong>Send my coupons</strong>"</span> <strong> to verify your email address</strong></h2>
            </td>
        </tr>
    </table>

    <div class="clear"></div>
</div>