<table cellpadding="0" cellspacing="0" width="190" border="0" align="center" style="margin-bottom: 5px;">
    <tr>
        <td bgcolor="#ffbddf" background="{{ STATIC_URL }}images/email/buttons/btnBg.gif" style="background-repeat: repeat-x; background-position: left top; border: 1px #ff85c4 solid; border-bottom-color: #ce5eaa; border-radius: 3px; height: 40px;">
            <a href="{{base_url}}{% url login-advertiser-from-email payload=payload %}" style="color: #222222; display: block; height: 40px; font-size: 16px; font-weight: bold; line-height: 39px; padding: 0; text-align: center; text-decoration: none;">
                <span style="color: #222222; letter-spacing: -1px; text-shadow: 0 1px 1px #ffeef7;">Go to your account &raquo;</span>
            </a>
        </td>
    </tr>
</table>