{% load tagging_tags comments i18n %}

<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
    <h1>{{ object.title }}</h1>
</a>


<p class="tiny">
    <em>

        {% trans "Written by" %}

        {% for author in object.authors.all %}
            <span class="vcard author">
                <a href="{% url zinnia_author_detail author %}" title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">{{ author }}</a>
            </span>{% if not forloop.last %}, {% endif %}
        {% endfor %}

        {% trans "on" %}

        <abbr class="published" title="{{ object.creation_date|date:"c" }}Z">
            {{ object.creation_date|date:"DATE_FORMAT" }}
        </abbr>

        {% if object.categories.count %}

            {% trans "in" %}
            {% for category in object.categories.all %}
                <a href="{{ category.get_absolute_url }}" title="{{ category }}" rel="tag category">{{ category }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}

        {% endif %}

    </em>
</p>

{% if object.image %}
    <div class="entry-image">
        <p>
            <a href="{{ object.get_absolute_url }}" rel="bookmark">
                <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
            </a>
        </p>
    </div>
{% endif %}

<div>
    {{ object_content }}
</div>
