{% extends "frames/web/iframeBox.html" %}

{% block meta %}

    <meta name="robots" content="noindex, follow">
    {% include "include/dsp/dsp_facebook_meta.html" %}
    
{% endblock %}

{% block open_content %}

    {% include "include/dsp/dsp_facebook_like_small.html" %}

    <a class="sprite twitter" href="http://twitter.com/share" data-text="{{ current_site.domain }} Sign up for coupons. Qualify to Win $10,000! See rules &amp; details on website" data-url="http://{{ current_site.domain }}" data-related="{{ current_site.twitter_name }}" data-count="none"></a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    
{% endblock %}

{% block base_footer %}
    <script type="text/javascript">
        {% include "include/scripts/js_facebook_like_button.html" %}
    </script>
{% endblock %}