"""
Local environment settings for ten project. Organized with Django first, 
then ten, then 3rd party.
"""
#pylint: disable=W0401,W0614
from settings.common import *

DATABASES['default'].update({
        'USER': 'django',
        'PASSWORD': '',
        'HOST': '',
        'PORT': ''
    })

# For running tests *FAST* while in the office, uncomment this
# (Note: does not work for runserver):
#DATABASES['default'].update({
#        'TEST_NAME': 'test_django', # Make this name unique to you!
#        'PASSWORD': 'mypassword', # Use the password from dev.py!
#        'HOST': '', # Use the host from dev.py!
#        'PORT': '5432'
#    })

MEDIA_URL = "http://local.10coupons.com/media/"
STATIC_URL = MEDIA_URL

# This is deprecated in django 1.4 but required by Zinnia:
ADMIN_MEDIA_PREFIX = 'http://local.10coupons.com/media/admin/'

# Necessary hack to have dev server serve media files.
STATIC_DOC_ROOT = ''

MIDDLEWARE_CLASSES += (
    'debug_toolbar.middleware.DebugToolbarMiddleware',
)

# To get around home isp anti-spam provisions on sending email;
# still need correct address added to firewall if away from office.
EMAIL_PORT = 587

CELERY_ALWAYS_EAGER = True
# Disable sending automated daily emails from your dev environment.
CELERYBEAT_SCHEDULE = {}

### Settings below here are *NOT* django settings.
## Settings for ten project:
ENVIRONMENT = {
    'environment': 'local',
    'is_test': False
}
HTTP_HOST = 'local.10coupons.com'
HTTP_PROTOCOL_HOST = "http://local.10coupons.com"

# LIVE_EMAIL_DOMAIN contains list of deliverable domains, empty would be all.
LIVE_EMAIL_DOMAINS = ['@strausdigital.com', '@10coupons.com']

# Makes tests much faster:
SEARCH_REALTIME = False

## Settings for 3rd party apps:
# Settings for Debug Toolbar:
# Use for for bypassing debug toolbar, which conflicts with market.middleware:
#INTERNAL_IPS = ('',)

# Disable johnny-cache:
#DISABLE_QUERYSET_CACHE = True