{% extends "frames/email/full.html" %}

{% block email_content %}

    <br/>

    <p style="font-size: 16px; margin: 0 5px 20px 5px;">
        A request to <strong>Reset your Account Password</strong> was received from <strong>{{ recipient_email }}</strong>.
    </p>
    
    <table cellpadding="0" cellspacing="0" width="300" border="0" align="center" style="margin-bottom: 25px;">
        <tr>
            <td bgcolor="#ffbddf" background="{{ STATIC_URL }}images/email/buttons/btnBg.gif" style="background-repeat: repeat-x; background-position: left top; border: 1px #ff85c4 solid; border-bottom-color: #ce5eaa; border-radius: 3px; height: 40px;">
                <a href="{{base_url}}{% url reset-password-from-email email_token=password_token %}" style="color: #222222; display: block; height: 40px; font-size: 19px; font-weight: bold; line-height: 39px; padding: 0; text-align: center; text-decoration: none;">
                    <span style="color: #222222; letter-spacing: -1px; text-shadow: 0 1px 1px #ffeef7;">
                        Reset My Password &raquo;
                    </span>
                </a>
            </td>
        </tr>
    </table>
    
    <p style="font-size: 13px; margin: 0 5px 20px 5px;">
        Button allows a single reset and must be used within 3 days. Use expired button to resend.
    </p>

    <p align="center" class="tiny" style="font-size: 11px;">
        <em>No action is required.</em>
    </p>

    <br/><br/>

{% endblock %}