{% extends "frames/web/full.html" %}}
{% block title %}{{ current_site.domain }} - Re-set your Account Password{% endblock %}

{% block breadcrumbs_content %}
    <span>Password Help</span>
{% endblock %}

{% block base_content %}

    <p><strong>Look for the email message we sent to:</strong><br>
    {{ email }}</p>
    
    <p>Follow the link to {% if user.has_usable_password %}reset the <strong>Advertiser</strong> {% else %}create an {% endif %}
    <strong>Account Password</strong>.</p>

    <div class="hr"></div>

    <h4>No message yet? Check folders for "blocked" email.</h4>

    <p>Ensure delivery of future messages. Add Coupons@10Coupons.com as a contact.</p>

    <p>Contact Customer Service by <a href="mailto:help@10coupons.com?subject=Help On {{ current_site.domain }}">email</a>.</p>

    {% include "include/dsp/dsp_live_help.html" %}

{% endblock %}