{% extends "frames/web/full.html" %}}
{% block title %}{{ current_site.domain }} - {% if user.has_usable_password %}Reset your{% else %}Create an{% endif %} Account Password{% endblock %}

{% block base_content %}

    <div class="signin">

        <h3>{% if user.has_usable_password %}Reset your{% else %}Create an{% endif %}{% if request.session.consumer.advertiser %} Advertiser{% endif %} Account Password</h3>

        <p class="small">
            Choose at least 6 characters. Use numbers, punctuation, capital (upper-case) or lower-case letters.
        </p>
        
        {% if user.has_usable_password %}
            
            <p>Type and confirm a new {% if request.session.consumer.advertiser %}Advertiser {% endif %}Account Password. The new Password replaces the old one.</p>
        
        {% else %}
        
            <p>Launch your {% if request.session.consumer.advertiser %}Advertiser{% endif %} Account. Type and confirm the Password.</p>
        
        {% endif %}
        
        
        {% include "include/frm/frm_reset_password.html" %}

    </div>

{% endblock %}
