{% extends "frames/web/full.html" %}

{% block base_content %}

    <div class="passwordhelp">

        <h2>Reset your {% if request.consumer.advertiser %}Advertiser {% endif%}Account Password</h2>
        
        {% if request.session.consumer.advertiser %}
        
            <p>We'll help access your account using the email address used to create your first coupon.</p>
        
        {% endif %}
        
        <p class="small">Supply the email address you used to create your {% if request.consumer.advertiser %}Advertiser {% endif %}Account.</p>

        {% include "include/frm/frm_advertiser_forgot_password.html" %}

    </div>

{% endblock %}

