{% extends "base.html" %}

{% block optimizertop %}

    <link rel="stylesheet" href="http://10coupons.com/media/css/tenstylenew.css" type="text/css"/>
    <link rel="stylesheet" href="http://10coupons.com/media/css/1040gridmin.css" type="text/css"/>
{% endblock %}

{% block title %}Page not found{% endblock %}


{% block frame %}

    <div class="padding center">
    
        <p><h1>Page not found</h1></p>
        <p>Sorry, but the requested page could not be found. <em>(500)</em></p>
    </div>
{% endblock %}