{% extends "frames/web/full.html" %}
{% block title %}
    {% if contest_is_running %}
        Sign up for Weekly {{ current_site.name }} Coupons and Deals That Save You Money. Qualify to Win $10,000!
    {% else %}
        Find 10 Local Coupons in More Locations  | {{ current_site.domain }}
    {% endif %}
{% endblock %}

{% block meta %}
    <meta name="description" content="{% if contest_is_running %}$10,000 Drawing Rules and details at {{ current_site.domain }}. Save money at the best places to eat, drink, play and shop. It's simple, so get started today!{% else %}Looking for {{ current_site.name }} coupons and deals? {{ current_site.domain }} helps you save money at the best places to eat, drink, play and shop. It's simple, so get started today!{% endif %}"/>
    <link rel="canonical" href="{% url site-directory %}"/>
{% endblock %}

{% block body_class %}full{% endblock %}

{% block breadcrumbs_content %}
    <span>More Locations</span>
{% endblock %}

{% block base_content %}
     {% if state_site_list %}
           {% include "include/dsp/dsp_site_directory.html" %}
     {% endif %}
    <div class="clear"></div>
    
    <div style='height:0; overflow:hidden;'>
        <textarea id="id_geom" name="geom"></textarea>
    </div>
{% endblock %}

