{% extends "frames/web/sidenav.html" %}
{% block title %}{{ current_site.domain }} - Unsubscribe{% endblock %}
{% block meta %}<meta name="robots" content="noindex, follow">{% endblock %}

{% block breadcrumbs_content %}
    <span>Unsubscribe</span>
{% endblock %}

{% block links %}
    {% include "include/navigation/nav1.html" %}
{% endblock %}

{% block base_content %}

    {% include "include/dsp/dsp_opt_out_confirmation.html" %}

    <div class="hr"></div>

    {% include "include/dsp/dsp_opt_in_opt_out_mobile_phone.html" %}

    <div class="hr"></div>

    {% include "include/dsp/dsp_live_help.html" %}

{% endblock %}

