{% extends "base.html" %}

{% block title %}{{ current_site.domain }} - Advertiser Account Sign In{% endblock %}

{% block body_onload %}onload="document.getElementById('id_email').focus();"{% endblock %}

{% block frame %}

    <div class="bgWindow">

        <div id="formSearch" class="bgWindowForm">

            <div class="bgWindowHeader">

                {% include "include/dsp/dsp_sign_in_intro.html" %}

                <div class="clear"></div>
            </div>

            {% include "include/frm/frm_sign_in.html" %}

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>

{% endblock %}