<form name="frm_reset_password" action="" method="post">{% csrf_token %}
    <ol>
        {{form.non_field_errors}}
        {{ form.password1.errors }}
        <li>
            <label for="id_password1" class="block">Password</label>				
            {{ form.password1 }}
        </li>

        {{ form.password2.errors }}
        <li>
            <label for="id_password2" class="block">Confirm Password</label>
            {{ form.password2 }}
        </li>

        <li>
            <input class="button largeBtn" type="submit" tabindex="3" value="Go to your {% if request.session.consumer.advertiser %}Advertiser {% endif %}Account"/>
        </li>
    </ol>
</form>
