<form name="frm_create_password" action="" method="post">{% csrf_token %}
    {{form.non_field_errors}}
    <fieldset>
        <legend>Password</legend>
        <ol>
            <li>
                {{form.password_1.errors}}
                {{form.password_1}}
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <legend>Confirm Password</legend>
        <ol>
            <li>
                {{form.password_1.errors}}                
                {{form.password_2}}
            </li>
        </ol>
    </fieldset>

    <fieldset>
        <ol>
            <li>
                <input class="button" type="submit" tabindex="3" value="Go to My Account"/>
            </li>
        </ol>
    </fieldset>
    <input type="hidden" value="{{ next }}" name="next"/>
</form>
