
<form name="frm_ad_rep_lead" method="post">{% csrf_token %}

<table align="center" border="0" cellpadding="5" cellspacing="0" width="600">

    <tr>
        <td align="right">
            <label for="id_first_name" class="block">First Name</label>
        </td>
        <td>
            {{ ad_rep_lead_form.first_name }}
        </td>
    </tr>

    <tr>
        <td align="right">
            <label for="id_last_name" class="block">Last Name</label>
        </td>
        <td>
            {{ ad_rep_lead_form.last_name }}
        </td>
    </tr>

    <tr>
        <td align="right">
            <label for="id_email" class="block">Email Address</label>
        </td>
        <td>
            <div id="email_errors" class="errorlist">{{ ad_rep_lead_form.errors.email }}</div>
            {{ ad_rep_lead_form.email }}
        </td>
    </tr>

    <tr>
        <td align="right">
            <label for="id_consumer_zip_postal" class="block">Zip Code</label>
        </td>
        <td>
            <div id="consumer_zip_postal_errors" class="errorlist">{{ ad_rep_lead_form.errors.consumer_zip_postal }}</div>
            {{ ad_rep_lead_form.consumer_zip_postal }}
        </td>
    </tr>

    <tr>
        <td align="right">
            <label for="id_primary_phone_number" class="block">Phone Number</label>
        </td>
        <td>
            <div id="primary_phone_number_errors" class="errorlist">{{ ad_rep_lead_form.errors.primary_phone_number }}</div>
            {{ ad_rep_lead_form.primary_phone_number }}
        </td>
    </tr>

    <tr>
      
        <style>
            .ad_rep_textinput {
                padding-bottom: 0;
            }
            .ad_rep_textinput textarea {
                height: auto;
                margin: 0;
                padding: 5px;
            }
        </style>

        <td align="right">
            <label for="id_right_person_text" class="block">Are you the person<br/>we're looking for?</label>
        </td>
        <td class="ad_rep_textinput" width="435">
            <div id="right_person_text_errors" class="errorlist">{{ question_form.errors.right_person_text }}</div>
            {{ question_form.right_person_text }}
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <p class="small smallmargin">
                <em>
                    Provide a short paragraph or if you like, copy and paste a resume. 
                    Show us that you're the right person for this opportunity!
                </em>
            </p>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <p class="smallmargin">
                <input type="submit" class="button largeBtn" id="id_submit_lead_form" tabindex="7" value="Apply Now &raquo;"/>
            </p>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>

            {% if not request.session.consumer %}
                <p class="small">
                    <em>
                        Accept our <a href='{% url terms-of-use %}'>Terms of Use</a> by clicking "Apply Now".</br>
                        We'll sign you up for the weekly Email Flyer for free.</br>
                        You'll see what local customers receive.
                    </em>
                </p>
            {% endif %}

            <p class="small smallmargin">
               <em>We wish you success,</em>
            </p>

            <h4 class="alt_font2">
                {% if request.session.ad_rep_id %}
                    {{ ad_rep.first_name }} {{ ad_rep.last_name }}
                {% else %}
                    The {{ current_site.domain }} Team
                {% endif %}
            </h4>
        </td>
    </tr>

</table>

</form>