{% extends "frames/web/leftCol.html" %}
{% block title %}{{ current_site.domain }} - Flyer Purchase{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"></div>{% endblock %}

{% block full_content %}

    <div class="message">

        {% include "include/dsp/dsp_checkout_purchase_success.html" %}

        <div class="clear"></div>
    </div>

{% endblock %}

{% block sidebar_content %}

    <div class="boxBorder">

        {% include "include/dsp/dsp_open_advertiser_account.html" %}

        <div class="clear"></div>
    </div>

{% endblock %}

{% block base_content %}

    <div class="boxBorder">

        {% include "include/dsp/dsp_order_summary.html" %}

        <div class="clear"></div>
    </div>

{% endblock %}