{% extends "frames/web/iframeBody.html" %}

{% block open_content %}

<h2>Market Coupon Publishing to Local Businesses</h2>

<p>Direct <strong>local business owners/operators</strong> to a webpage explaining the <strong>benefits</strong> of publishing 
<strong>local coupons</strong>. There's a short <strong>'how to" video</strong> too.
</p>
<p>
<textarea id='how_to_textarea'>http://{{ how_it_works_link }}</textarea><br/>
<input type='button' class='btn' style='margin-left:12px;font-weight:bold;' value='Select' onClick="javascript:getElementById('how_to_textarea').select();"/>&nbsp;<strong>Copy and Paste</strong> this web address.
</p>

<h2>Recommend New Advertising Representatives</h2>

<p>Present new recruits with a <strong>pre-approved sign-up form</strong>. They'll become Ad Reps <strong>instantly</strong>
based on your <strong>recommendation</strong>. You'll earn a bonus equal to <strong>25%*</strong> of the commissions earned by any 
(and all) Advertising Representatives you've recommended. 
Your bonus is an <strong>additional</strong> "override" it is <strong>not</strong> a cut of your recruits' earnings. To ensure each recruit is credited to you, 
use the web address supplied here.
</p>
<p>
<textarea id='recommend_textarea'>http://{{ recommend_enrollment_link}}</textarea><br/>
<input type='button' class='btn' style='margin-left:12px;font-weight:bold;' value='Select' onClick="javascript:getElementById('recommend_textarea').select();"/>&nbsp;<strong>Copy and Paste</strong> this web address.
</p>

<h2>Increase the number of Customers using {{ ad_rep.site.domain }}</h2>

<p>Share the <strong>address</strong> of your <strong>personalized website</strong> with everyone else. When they sign up for 
<strong>free local coupons</strong>, they'll increase the value of {{ ad_rep.site.domain }} to local businesses. They'll also remain 
<strong>linked to you</strong>. If they become <strong>Advertisers</strong> in the future, <strong>you'll earn the commissions</strong>. 
If they become <strong>Advertising Representatives</strong>, you could earn a <strong>recruiter's bonus*</strong> based on their earnings.
</p>
<p>
<textarea id='consumers_textarea'>http://{{ personal_website_link }}</textarea><br/>
<input type='button' class='btn' style='margin-left:12px;font-weight:bold;' value='Select' onClick="javascript:getElementById('consumers_textarea').select();"/>&nbsp;<strong>Copy and Paste</strong> this web address.
</p>

{% endblock %}