{% extends "frames/web/full.html" %}
{% block title %}{{ current_site.domain }} - Testimonials{% endblock %}
{% block meta %}
<link rel="canonical" href="/testimonial-ad-rep/"/>
{% endblock %}

{% block breadcrumbs_content %}
    <a href="{% url become-an-ad-rep %}">Become an Advertising Representative</a> &nbsp;&rsaquo;&nbsp;
    <span>Testimonials</span>
{% endblock %}

{% block base_content %}

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left" valign="top" width="180">

            <p><img src="{{ safe_static_url }}images/testimonial_michelem.jpg" border="1" height="150" width="150"/></p>

        </td>
        <td valign="middle">

            <p class="smallmargin">
                "I wanted a business that offered both time flexibility and the opportunity to set my own goals.
                10LocalCoupons.com is so rewarding because of genuinely helping people while reaching my goals.
                I love the fact that while they are a new opportunity, the company leadership has a track record of over a billion dollars in proven success.
                I am so fortunate to have found them."
            </p>

            <p>
                <em>- Michele M.</em>
            </p>

        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
       <td valign="middle">

            <p class="smallmargin">
                "After a successful career in Radio Broadcast Sales and retail sales as a both a Manager and Regional Manager for the Zales Corporation, I am delighted and thankful to have found 10LocalCoupons.com.
                I have taken control of my own career, and life.
                I can work my own hours, set my own income goals and have unlimited financial and professional opportunities.
                Working for myself is both fulfilling and rewarding.
                At the same time, I have all the marketing and administrative support of the incredible team at 10LocalCoupons.com."
            </p>

            <p>
                <em>- Steven F.</em>
            </p>

        </td>
        <td align="right" valign="top" width="180">

            <p><img src="{{ safe_static_url }}images/testimonial_stevenf.jpg" border="1" height="150" width="150"/></p>

        </td>
    </tr>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="left" valign="top" width="180">

            <p><img src="{{ safe_static_url }}images/testimonial_donovann.jpg" border="1" height="150" width="150"/></p>

        </td>
        <td valign="middle">

            <p class="smallmargin">
                "Through my success in many business ventures over the years I have found that the recipe for success is the right product or service at the right time with the right people.
                In my opinion, this is the right time for 10LocalCoupons.com and I am so grateful for such an outstanding opportunity!
                The opportunity to run my own business combined with the support of the incredible 10LocalCoupons.com team is a dream come true!
                With a successful visionary like Eric Straus at the helm, you can count on 10LocalCoupons.com becoming the leader in the coupon and advertising industry.
                If you want to be part of the next "big thing." then 10localcoupons.com is the vehicle.
                The timing is perfect and the compensation structure has no limits."
            </p>

            <p>
                <em>- Donovan N.</em>
            </p>

        </td>
    </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
       <td valign="middle">

            <p class="smallmargin">
                "It has been refreshing to work with 10LocalCoupons.com after spending over 10 years in the Sales and Marketing Industry for both Technical and Soft-Skill training companies.
                10LocalCoupons.com allows me to work where and when I want while keeping priorities with family and friends at the top of my list."
            </p>

            <p>
                <em>- Dan G.</em>
            </p>

        </td>
        <td align="right" valign="top" width="180">

            <p><img src="{{ safe_static_url }}images/testimonial_dang.jpg" border="1" height="150" width="150"/></p>

        </td>
    </tr>
</table>

{% endblock %}

{% block bottom_content %}

    <div class="hr"></div>

    {% include "include/dsp/dsp_live_help.html" %}

{% endblock %}
